.riv-imgs-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.riv-img-wrap {
	display: block;
	position: relative;
	margin: 4px;
	width: 100%;
	max-width: 100%;
}

.riv-img {
	display: block;
	width: 100%;
	height: auto;
	max-width: 100%;
	cursor: pointer;
}

.riv-img:hover {
	opacity: 0.8;
}

.riv-img--active {
	opacity: 1 !important;
}

.riv-img--disabled {
	opacity: 0.5;
	pointer-events: none;
}

.riv-img--loading {
	opacity: 0.5;
}

.riv-preloader {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.riv-preloader img {
	display: block;
	width: 48px;
	height: 48px;
}

.riv-preloader.riv-preloader--active {
	display: block;
}
