@keyframes gradient {
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	to {
		background-position: 0 50%;
	}
}

@-webkit-keyframes gradientAnimation {
	0% {
		background-position: 2% 0%;
	}
	50% {
		background-position: 99% 100%;
	}
	100% {
		background-position: 2% 0%;
	}
}
@-moz-keyframes gradientAnimation {
	0% {
		background-position: 2% 0%;
	}
	50% {
		background-position: 99% 100%;
	}
	100% {
		background-position: 2% 0%;
	}
}
@keyframes gradientAnimation {
	0% {
		background-position: 2% 0%;
	}
	50% {
		background-position: 99% 100%;
	}
	100% {
		background-position: 2% 0%;
	}
}

@keyframes exitText {
	0% {
	}

	100% {
	}
}

@-webkit-keyframes flip-out-hor-top {
	0% {
		-webkit-transform: rotateX(0);
		transform: rotateX(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: rotateX(70deg);
		transform: rotateX(70deg);
		opacity: 0;
	}
}
@keyframes slide-out-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0;
	}
}
@-webkit-keyframes swing-out-top-bck {
	0% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 1;
	}
	100% {
		-webkit-transform: rotateX(-100deg);
		transform: rotateX(-100deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 0;
		top: 500px;
	}
}
@keyframes swing-out-top-bck {
	0% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 1;
	}
	100% {
		-webkit-transform: rotateX(-100deg);
		transform: rotateX(-100deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 0;
	}
}

@keyframes tracking-out-contract {
	0% {
		letter-spacing: 0;
		opacity: 1;
	}
	50% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	100% {
		letter-spacing: 0;
		opacity: 1;
	}
}

@keyframes animatinTwo {
	0% {
		background: red;
	}

	100% {
		background: none;
	}
}
@keyframes tracking-out-contract-reverse {
	0% {
		letter-spacing: -0.5em;
	}
	20% {
		opacity: 0.25;
		letter-spacing: -0.5em;
	}

	50% {
		letter-spacing: -0.5em;
		opacity: 1;
	}

	100% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
}

@keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes move {
	25% {
		transform: translatey(-5.8vmin);
		opacity: 1;
	}
	50% {
		transform: translatey(-11vmin);
	}
	75% {
		transform: translatey(-16.5vmin);
	}
}

@keyframes top-out {
	0% {
		transform: translatey(0);
	}

	100% {
		transform: translatey(-1000px);
	}
}

@keyframes bottom-in {
	0% {
		transform: translateY(100px);
	}

	100% {
		transform: translatey(0);
	}
}
@keyframes arrowFade {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, -50%, 0);
		transform: translate3d(-100%, -50%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, -50%, 0);
		transform: translate3d(0, -50%, 0);
	}
}
