$hamburger-stripe-width: 20px;
$animationDuration: 250ms;

@keyframes slide-out-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0;
	}
}

@keyframes slide-in-bottom {
	0% {
		transform: translateY(1000px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes wobble-hor-bottom {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}
	15% {
		transform: translateX(-30px) rotate(-6deg);
	}
	30% {
		transform: translateX(15px) rotate(6deg);
	}
	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}
	60% {
		transform: translateX(9px) rotate(2.4deg);
	}
	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@keyframes shake-horizontal {
	0%,
	100% {
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}
	20%,
	40%,
	60% {
		transform: translateX(10px);
	}
	80% {
		transform: translateX(8px);
	}
	90% {
		transform: translateX(-8px);
	}
}


@keyframes slide-out-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0;
	}
}

@keyframes slide-out-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0;
	}
}

@keyframes slide-out-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0;
	}
}

@keyframes slide-out-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0;
		display: none;
	}
}

@keyframes swing-out-top-bck {
	0% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 1;
	}

	100% {
		-webkit-transform: rotateX(-100deg);
		transform: rotateX(-100deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 0;
	}
}

@keyframes swing-out-top-bck {
	0% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 1;
	}

	100% {
		-webkit-transform: rotateX(-100deg);
		transform: rotateX(-100deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 0;
	}
}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	to {
		background-position: 0 50%;
	}
}

@keyframes spinHover {
	0% {
		scale: 1;
		transform: rotate(0);
	}

	20% {
		scale: 1.05;
		transform: rotate(-25deg);
	}

	60% {
		scale: 1.09;
		transform: rotate(15deg);
	}

	100% {
		scale: 1;
	}
}

@keyframes blur {
	0% {
		filter: blur(3px);
	}

	100% {
		filter: blur(0);
	}
}

@keyframes grow {
	0% {
		width: $hamburger-stripe-width;
	}

	25% {
		width: $hamburger-stripe-width * 1.15;
	}

	100% {
		width: $hamburger-stripe-width;
	}
}

@keyframes scale-out {
	0% {
		scale: 1;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		scale: 0.1;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
		scale: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		scale: 1;
		opacity: 1;
	}
}

@keyframes gradientAnimation {
	0% {
		background-position: 2% 0%;
	}

	50% {
		background-position: 99% 100%;
	}

	100% {
		background-position: 2% 0%;
	}
}
@keyframes slide-btn {
	0% {
		background-image: linear-gradient(
			-15deg,
			$color-one-d 25%,
			$color-two-d 25%,
			$color-three-d 25%,
			$color-four-d 25%
		);
	}
	100% {
		background-image: linear-gradient(
			-15deg,
			$color-two-d 25%,
			$color-one-d 25%,
			$color-three-d 25%,
			$color-four-d 25%
		);
	}
}

@keyframes slide-out-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0;
	}
}

@keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}

	40% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes move {
	25% {
		transform: translatey(-5.8vmin);
		opacity: 1;
	}

	50% {
		transform: translatey(-11vmin);
	}

	75% {
		transform: translatey(-16.5vmin);
	}
}

@keyframes top-out {
	0% {
		transform: translatey(0);
	}

	100% {
		transform: translatey(-1000px);
	}
}

@keyframes bottom-in {
	0% {
		transform: translateY(100px);
	}

	100% {
		transform: translatey(0);
	}
}

@keyframes arrowFade {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, -50%, 0);
		transform: translate3d(-100%, -50%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, -50%, 0);
		transform: translate3d(0, -50%, 0);
	}
}

@keyframes swipeIn {
	from {
		opacity: 0;
		transform: translateY(-100%);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}
