$gradient-background: linear-gradient(
	180deg,
	rgba(33, 38, 46, 1) 0%,
	rgba(133, 58, 118, 1) 52%,
	rgba(189, 96, 138, 1) 100%
);
$gradient-background-static: rgb(33, 38, 46);
$chat-container-width: 520px;
.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.spinner {
	width: 80px;
	height: 80px;
	border: 5px solid #ccc;
	border-top-color: #333;
	border-radius: 50%;
	animation: spin 1s infinite linear;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.header__hero--heading-gradient {
	background: linear-gradient(
		-45deg,
		var($color-primary),
		var($color-secondary),
		var($color-primary),
		var($color-secondary)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 400% 400%;
	-webkit-animation: gradient 3s ease infinite;
	animation: gradient 3s ease infinite;
}

$body-gradient: linear-gradient(180deg, #10101a, lighten(#10101a, 10%));

.desktop {
	@include mobile {
		display: none;
	}
}

.contained {
	max-width: $chat-container-width;
	margin: 0 auto;
	position: relative;
}

.mobile {
	display: none;

	@include mobile {
		display: block;
	}
}

.page-wrapper {
	padding-top: 100px;
}
