@import './offcanvas-menu';
$header-height: 40px;
.header {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s ease all;
	flex-direction: row-reverse;
	padding: 20px 10px;

	.logo {
		position: absolute;
		top: 31px;
		left: 10px;
	}

	li {
		color: $color-white;
	}

	h2 {
		z-index: $z-index-layer-three;
		color: $color-white;
	}

	&__toggle {
		&:has(.hamburger) {
			z-index: 20;
			font-size: 2rem;
			position: relative;
		}

		.close {
			top: 31px;
			right: 10px;
		}
	}

	&__content {
		&__nav {
			top: 0;
			right: 100%;
			bottom: 0;
			width: 100%;
			height: 100vh;
			position: fixed;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			// background: $theme-black;
			background: transparent;
			backdrop-filter: blur(2px);
			transform: translate(0);
			transition: 0.3s ease transform;

			&.isMenu {
				display: flex;
				justify-content: flex-start;
				top: 22%;
				z-index: 15;
				transform: translate(60%);
			}
		}
	}
}

@include mobile {
	.notice {
		display: none;
	}

	.header {
		&__content {
			&__nav {
				&.isMenu {
					top: 22%;
				}
			}
		}
	}
}
