.scrolled {
	height: 1500px;
	background-color: blue;

	.header {
		padding: 8px 0;
		position: sticky;
		top: 0;
		left: 0;
		z-index: $z-index-layer-three;

		&__tagline {
			padding-left: 0;
		}
	}
}
.chat-ui {
	.header {
		display: none;
	}
}
.header {
	background-color: $color-white;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	font-family: $font--alternative;
	padding: $spacing 0;
	transition: 250ms ease-out all;

	&__inner {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}

	&__user {
		display: flex;
		align-items: center;
		position: relative;

		img {
			position: absolute;
			border-radius: 50%;
			scale: 0.4;
			left: 0;
		}
	}

	&__user-name {
		display: flex;
		flex-direction: column;
		line-height: 1;
		padding-left: 80px;
	}

	a {
		position: relative;
	}

	nav {
		li {
			font-size: 0.7em;
			font-weight: 600;
			position: relative;
			transition: 250ms ease all;

			a {
				text-decoration: none;

				&:after {
					content: '';
					position: absolute;
					left: 0;
					bottom: -3px;
					width: 0;
					height: 2px;
					background-color: $color-primary;
					opacity: 0;
					transition: 0.3s ease-in;
				}

				&:hover {
					&::after {
						opacity: 1;
						width: 100%;
					}
				}
			}

			&:hover {
			}
		}
	}

	.tooltip {
		top: -15px;
		right: -15px;
		position: absolute;
	}
}

// @import './offcanvas-menu';
// $header-height: 60px;

// .header {
// 	display: flex;
// 	align-items: center;
// 	justify-content: space-between;
// 	transition: 0.1s ease all;
// 	flex-direction: row;
// 	padding: 20px $spacing-s;
// 	min-height: $header-height;

// 	li {
// 		color: $color-white;
// 	}

// 	h2 {
// 		z-index: $z-index-layer-three;
// 		color: $color-white;
// 	}

// 	&__toggle {
// 		padding: $spacing;
// 		&:has(.hamburger) {
// 			z-index: 20;
// 			font-size: 2rem;
// 		}
// 	}

// 	// &__content {
// 	&__nav {
// 		top: 0;
// 		right: 100%;
// 		bottom: 0;
// 		width: 100%;
// 		height: 100vh;
// 		position: fixed;
// 		display: flex;
// 		flex-direction: column;
// 		justify-content: center;
// 		align-items: center;
// 		text-align: center;
// 		// background: $theme-black;
// 		background: transparent;
// 		transform: translate(0);
// 		transition: 400ms ease transform;
// 		animation: blur;

// 		&.isMenu {
// 			display: flex;
// 			justify-content: flex-start;
// 			top: calc(13.2vh + 16px);
// 			z-index: 15;
// 			transform: translate(65%);
// 		}
// 	}
// }

// @include mobile {
// 	.header {
// 		border-bottom: 1px solid $border-color;
// 		margin-bottom: 20px;
// 		min-height: 10em;
// 		padding: 0;
// 		justify-content: center;
// 	}
// }

// #text1,
// #text2 {
// 	transform: translateY(-100%);
// 	bottom: -15px;
// 	top: 0;
// }

#clouds {
	padding: 100px 0;
	background: #c9dbe9;
	background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

/*Time to finalise the cloud shape*/
.cloud {
	width: 200px;
	height: 60px;
	background: #fff;

	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;

	position: relative;
}

.cloud:before,
.cloud:after {
	content: '';
	position: absolute;
	background: #fff;
	width: 100px;
	height: 80px;
	position: absolute;
	top: -15px;
	left: 10px;

	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;

	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px;
	height: 120px;
	top: -55px;
	left: auto;
	right: 15px;
}

/*Time to animate*/
.x1 {
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	left: 200px;

	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/

	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.x3 {
	left: -250px;
	top: -200px;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/

	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

.x4 {
	left: 470px;
	top: -250px;

	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75; /*opacity proportional to the size*/

	-webkit-animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
	-o-animation: moveclouds 18s linear infinite;
}

.x5 {
	left: -150px;
	top: -150px;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/

	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {
		margin-left: 1000px;
	}
	100% {
		margin-left: -1000px;
	}
}
@-moz-keyframes moveclouds {
	0% {
		margin-left: 1000px;
	}
	100% {
		margin-left: -1000px;
	}
}
@-o-keyframes moveclouds {
	0% {
		margin-left: 1000px;
	}
	100% {
		margin-left: -1000px;
	}
}
