.intro {
	font-family: $font--secondary;
	color: white;
	font: 9rem $font--secondary;
	background: none;

	&__heading {
		font-size: 6rem;
		line-height: 100%;
		letter-spacing: -0.2rem;
		color: $color-white;
		position: relative;
		font-weight: $font-weight__bold;
		padding: 16rem 8rem;
		position: relative;
		z-index: $z-index-layer-two;
		overflow: hidden;
	}

	&__effect {
		span {
			animation: fade-in 1s 250ms;
			animation-fill-mode: both;
			opacity: 0;
			position: absolute;
			animation-timing-function: cubic-bezier(1, -0.71, 1, 1);
		}
		@keyframes scale-out {
			0% {
				scale: 1;
			}

			50% {
				opacity: 1;
			}

			100% {
				opacity: 0;
				scale: 0.1;
			}
		}
		@keyframes fade-in {
			0% {
				opacity: 0;
			}

			50% {
				opacity: 0;
			}

			100% {
				opacity: 1;
			}
		}

		div {
		}
	}

	.special {
		position: absolute;
		font-size: 40px;
		animation: scale-out 250ms 1s ease-out;
		z-index: $z-index-layer-six;
		width: 150px;
		min-width: 150px;
		animation-fill-mode: forwards;
	}

	&__hero--heading-gradient,
	.gradient {
		background: linear-gradient(
			-45deg,
			$theme-primary,
			$theme-primary--accent,
			$theme-primary,
			$theme-primary--accent
		);
		background-size: 400% 400%;

		animation: gradient 3s ease infinite;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background: #282c34;
	font-size: 2vmin;
	font-family: JetBrains Mono, monospace;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #e4bb68;
}

.string {
	display: flex;
	flex-direction: column;
	text-align: center;
	animation: move 4s infinite;
}

.greeting {
	position: relative;
	top: 8.6vmin;
	animation: white-out 5s infinite;
}

.closure::after {
	content: '';
	position: absolute;
	height: 25vmin;
	width: 40vmin;
	background: #282c34;
	transform: translate(-45vmin, -24.5vmin);
}

.closure::before {
	content: '';
	position: absolute;
	height: 25vmin;
	width: 40vmin;
	background: #282c34;
	transform: translate(-40vmin, 5vmin);
}

.en {
	color: #fa8231;
}

.es {
	color: white;
}

.de {
	color: #c678dd;
}

.it {
	color: #a9b0bd;
}

@keyframes move {
	25% {
		transform: translatey(-5.8vmin);
		opacity: 1;
	}
	50% {
		transform: translatey(-11vmin);
	}
	75% {
		transform: translatey(-16.5vmin);
	}
}

@keyframes top-out {
	0% {
		transform: translatey(0);
	}

	100% {
		transform: translatey(-1000px);
	}
}

@keyframes bottom-in {
	0% {
		transform: translateY(100px);
	}

	100% {
		transform: translatey(0);
	}
}
