.intro {
	font-family: $font--secondary;
	color: $color-white;
	font: 9rem $font--secondary;
	background: none;

	&__heading {
		font-size: 6rem;
		line-height: 100%;
		letter-spacing: -0.2rem;
		color: $color-white;
		position: relative;
		font-weight: $font-weight__bold;
		padding: 16rem 8rem;
		position: relative;
		z-index: $z-index-layer-two;
		overflow: hidden;
	}

	&__effect {
		span {
			animation: fade-in 1s 250ms;
			animation-fill-mode: both;
			opacity: 0;
			position: absolute;
			animation-timing-function: cubic-bezier(1, -0.71, 1, 1);
		}
	}

	.special {
		position: absolute;
		font-size: 40px;
		animation: scale-out 250ms 1s ease-out;
		z-index: $z-index-layer-six;
		width: 150px;
		min-width: 150px;
		animation-fill-mode: forwards;
	}

	&__hero--heading-gradient,
	.gradient {
		background: linear-gradient(
			-45deg,
			$theme-primary,
			$theme-primary--accent,
			$theme-primary,
			$theme-primary--accent
		);
		background-size: 400% 400%;

		animation: gradient 3s ease infinite;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

@include mobile {
	.intro {
		&__heading {
			color: $theme-black;
			padding: $spacing $spacing-xl;
			font-size: 5rem;

			&.mobile {
				.mobile__wrapper {
					display: flex;
					flex-wrap: wrap;
					word-break: break-all;
				}
			}
			&__effect {
				span {
				}

				div {
					top: 179px;
					left: 107px;
				}
			}

			&__hero--heading-gradient {
			}
		}
		.menuToggled {
			display: none;
		}

		.menuClosed {
			display: block;
		}
	}

	body.menuToggled {
		.menuClosed {
			display: none;
		}

		.menuToggled {
			display: block;
		}
	}
}
