@keyframes opacityFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(-200%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-200%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes minorBlur {
  from {
    filter: blur(3px);
  }

  to {
    filter: blur(0px);
  }
}

@keyframes mediumBlur {
  from {
    filter: blur(5px);
  }

  to {
    filter: blur(0px);
  }
}

// Header toggle animations
@keyframes hamburgerIn {
  0% {
    opacity: 0;
    transform: rotate(-15deg);
    scale: 3;
  }

  40% {
    opacity: 0;
  }

  100% {
    transform: rotate(0);
    scale: 1;
  }
}

@keyframes bigBlur {
  0% {
    scale: 1;
  }

  15% {
    opacity: 1;
  }

  100% {
    background-color: #b755fd;
    transform: rotate(45deg);
    scale: 1.2;
  }
}

@keyframes showMenu {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(120);
  }
}

.delayShow {
  animation: opacityFadeIn 2s 500ms forwards;
  opacity: 0;
}
