@import './lost.scss';

$off-white: #f9f9f9;
$space: 12px;
$dark: #3f3d56;

.not-authorized {
	a {
		text-decoration: none;
	}

	.modal {
		position: inherit;
	}

	&__inner {
		z-index: 3;
		position: relative;
	}

	h2 {
		letter-spacing: 1.1px;
		margin: 0;
		font-size: 42px;
		padding-bottom: $space;
	}

	p,
	li {
		padding-bottom: 12px;
	}
	p {
		padding: 0 0 30px 0;
	}

	ul,
	li {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		display: flex;
		align-items: center;

		svg {
			font-size: 14px;
			margin-right: $space;
			margin-top: 2px;
			transition: 250ms ease all;

			&:hover {
				color: #7a44fd;
			}
		}
	}

	&__buttons {
		display: flex;
		font-size: 2.4em;
		cursor: pointer;

		.login-btn {
			all: unset;
		}

		.cta {
			margin-right: $space * 2;
		}
	}

	.cta {
		margin-bottom: $space * 2;
	}

	ul {
		padding-bottom: $space * 2;
	}
}

@mixin below-desktop {
	@media (min-width: #{$screen__zero}) and (max-width: #{$screen__l}) {
		@content;
	}
}

@media (max-width: 1280px) {
	.not-authorized {
		position: relative;

		&__inner {
			max-width: 100%;
		}

		h2 {
			max-width: unset;
		}
	}

	.todo__illustration {
		right: 40px;
		top: 0;
		bottom: 0;
		z-index: 10;
		position: absolute;
	}
}

