$color--primary: #b755fd;
$color--secondary: #f5f5f5;

$gradient--one: #ff8080;
$gradient--two: #80b3ff; 

$off-white: #e4e7ec;
$off-black: #202328;

$gradient-one: linear-gradient(to right, #ff8080, #ffcccc);
$gradient-two: linear-gradient(to right, #80b3ff, #cce5ff);
