@import '../abstracts/variables/_colors.scss';

$hamburger-stripe-width: 20px;
$animationDurationBase: 250ms;

$colors: $color--secondary, lighten($color--secondary, 5%),
	lighten($color--secondary, 10%), lighten($color--secondary, 15%);


	.menu-button {
		&:after {
				scale: 1;
				transition: 500ms ease all;
			}

		&::before {
			animation: hideMenu 1.5s ease-in-out ;
			content: '';
			scale: 1;
			width: 25px;
			background-color: #121212;
			height: 25px;
			border-radius: 50%;
			position: absolute;
			right: 5px;
			scale: 1;
			z-index: -1;
		}

	}
	

.offcanvas-open {
	.menu-button {
			&:after {
			content: '';
			opacity: 0;
			width: 700px;
			height: 700px;
			background-color: $gradient--two;
			border-radius: 100%;
			filter: blur(100px);
			position: absolute;
			right: -4px;
			bottom: -4px;
			animation: hideMenu 750ms ease-in-out forwards;
		}

		&::before {
			animation: showMenu 1500ms ease-in-out forwards;
			content: '';
			width: 25px;
			background-color: #121212;
			height: 25px;
			border-radius: 50%;
			position: absolute;
			right: 5px;
			scale: 1;
			z-index: -1;
		}
	}

	.offcanvas-menu {
		@include mobile {
			position: relative;

			&::after {
				content: '';
				position: absolute;

				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 200px;
				height: 200px;
				background-color: rgba(0, 0, 0, 0.5);
				border-radius: 50%;
			}
		}
	}
}



.header {
	.toggle {
		transition: $animationDurationBase ease all;

		&:hover {
			span {
				transition-delay: 150ms;
				transition: $animationDurationBase ease-in-out all;
				scale: 1.1;

				&:nth-child(1) {
					transition-delay: 0;
				}

				&:last-child {
					transition-delay: $animationDurationBase;
				}
			}

			svg {
				scale: 1.1;
			}
		}

		span {
			&:hover {
				scale: 1.1;
				transform: skew(15deg);
				transform: rotate(3deg);
			}

			&:nth-child(2) {
				transition-delay: 150ms;
			}

			&:last-child {
				transition-delay: $animationDurationBase;
			}
		}

		input {
			display: none;

			& + div {
				width: 20px;
				height: 14px;
				position: relative;
				animation: hamburgerIn 2s ease-in-out;

				div {
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					transition: transform 0.5s ease;

					span {
						display: block;
						position: absolute;
						left: 0;
						right: 0;

						&:first-child {
							top: 0;
							&:before,
							&:after {
								top: 0;
							}
						}

						&:last-child {
							bottom: 0;
							&:before,
							&:after {
								bottom: 0;
							}
						}

						&:before,
						&:after {
							content: '';
							display: block;
							width: 47%;
							height: 2px;
							border-radius: 1px;
							background: $off-white;
							position: absolute;
							transition: transform 0.5s ease,
								border-radius 0.3s ease, background 0.4s ease;
							z-index: 15;
						}

						&:before {
							left: 0;
							transform-origin: 0 50%;
							transform: translate(1px, 0) scaleX(1.1);
						}

						&:after {
							right: 0;
							transform-origin: 100% 50%;
							transform: translate(-1px, 0) scaleX(1.1);
						}
					}
				}

				svg {
					display: block;
					fill: none;
					stroke: $off-white;
					stroke-width: 2px;
					width: 44px;
					height: 44px;
					stroke-linecap: round;
					position: absolute;
					left: 50%;
					top: 50%;
					margin: -22px 0 0 -22px;
					stroke-dasharray: 0 82.801 8 82.801;
					stroke-dashoffset: 82.801;
					transform-origin: 50% 50%;
					transform: scale(1);
					transition: stroke-dashoffset 0.5s ease,
						stroke-dasharray 0.6s ease, transform 0.5s ease,
						stroke 0.4s ease;

					&:nth-child(3) {
						transform: rotate(180deg) scale(1);
					}
				}
			}

			&:checked + div {
				div {
					transform: rotate(90deg);

					span {
						&:first-child {
							&:before {
								transform: rotate(45deg) translate(2.2px, -3px)
									scaleX(1.05);
							}

							&:after {
								transform: rotate(-45deg)
									translate(-2.2px, -3px) scaleX(1.05);
							}
						}

						&:last-child {
							&:before {
								transform: rotate(-45deg) translate(2.2px, 3px)
									scaleX(1.05);
							}

							&:after {
								transform: rotate(45deg) translate(-2.2px, 3px)
									scaleX(1.05);
							}
						}
					}
				}

				svg {
					stroke-dashoffset: 62;
					stroke-dasharray: 0 82.801 62 82.801;
					transform: rotate(90deg);
					stroke: $off-white;

					&:nth-child(3) {
						transform: rotate(270deg);
					}
				}
			}
		}
	}
}
