// whites
$pure--white: #fff;
$white: #f9fafb;
$off-white: #e4e7ec;
$off-white-two: #d3d7df;
$off-white-three: #b6bdc8;
$off-white-four: #9ea5b3;

// blacks
$black--pure: #000;
$black: #090a0b;
$black--alternative: #121212;
$black-accent: #1e1e1e;
$off-black: #202328;
$off-black-two: #31363f;

// Base color
$color--green: #0eae0e;
$color--orange: #ff6400;
$color--red: #d0021b;
$color--lightred: #cf6679;
$color--mint: #00dac6;

// Dark theme colors
$dark-background: $black;
$dark-background-lighter: $black-accent;

// Greys
$color--grey: #c7d2d9;
$color--grey-border: #c7d2d9;

// Theme colors
$color--primary: #ff7979;
$color--secondary: #003247;
$primary--gradient1: #009de0;
$primary--gradient2: #0081c7;
$border--color: $color--grey;

// Typography
$heading--color: $color--secondary;

$text--color: $black;

// Misc
$error--color: $color--lightred;

$black--body: #0a0b14;
$gradient--one: #0b0816;
$gradient--two: #2e081d;
$linear-gradient: linear-gradient(
	180.56deg,
	$gradient--one 0.64%,
	$gradient--two 91.93%
);
