$spacing: 24px;
$spacing-s: calc($spacing / 3);
$spacing-m: calc($spacing * 0.75);
$spacing-xl: calc($spacing * 1.5);
$input-height: 40px;
$max-container: 1584px;

$logo-width: 200px;
$logo-height: auto;
