$spacing: 24px;
$spacing-xs: calc($spacing / 3.5);
$spacing-s: calc($spacing / 3);
$spacing-m: calc($spacing * 0.75);
$spacing-xl: calc($spacing * 1.5);
$input-height: 40px;
$max-container: 1584px;

$z-index-below-base: -10;
$z-index-base: 1;
$z-index-layer-two: 10;
$z-index-layer-three: 20;
$z-index-layer-four: 30;
$z-index-layer-five: 40;
$z-index-layer-six: 50;
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');

body {
	margin: 0px;
}

#logo-container {
	size: 50%;
	filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
	position: absolute;
	width: 100%;
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 5em;

	text-align: center;

	user-select: none;
}
