// https://www.cdnfonts.com/circular-std.font
// @import url('https://fonts.cdnfonts.com/css/circular-std');
// @import url('https://fonts.cdnfonts.com/css/d-din');
// @import url('https://fonts.cdnfonts.com/css/geomanist');
// @import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/mark-pro');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/bert-sans');

$font--primary: 'Bert Sans', sans-serif;
$font--secondary: 'Mark Pro', sans-serif;
$font--alternative: 'Poppins', sans-serif;

$h1--size: 25px;
$h2--size: 23px;
$h3--size: 18px;
$h4--size: 15px;
$h5--size: 15px;
$h6--size: 15px;

$text-base--regular: 14px;
$text-large: 18px;
$text-medium: 16px;
$text-small: 12px;

$font-weight--medium: 400;
$font-weight--semibold: 600;
$font-weight--bold: 700;
$fontweight--extra-bold: 900;
$font-weight--normal: $font-weight__medium;
