// https://www.cdnfonts.com/circular-std.font
@import url('https://fonts.cdnfonts.com/css/circular-std');
@import url('https://fonts.cdnfonts.com/css/mark-pro');
@import url('https://fonts.cdnfonts.com/css/d-din');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/geomanist');
@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap');

$font-family-task: 'DM Sans', sans-serif;

$heading-h1-size: 25px;
$heading-h2-size: 23px;
$heading-h3-size: 18px;
$heading-h4-size: 15px;
$heading-h5-size: 15px;
$heading-h6-size: 15px;

$text-base--regular: 14px;
$text-large: 18px;
$text-medium: 16px;
$text-small: 12px;
$list-size-textsize: 13.6px;

$font--primary: 'Geomanist', sans-serif;
$font-task: 'exo2';
// $font--primary: 'Circular Std', sans-serif;
$font--secondary: 'Mark Pro', sans-serif;
$font--alternative: 'Poppins', sans-serif;

$font-weight__medium: 400;
$font-weight__semibold: 600;
$font-weight__bold: 700;
$fontweight__extra-bold: 900;
$font-weight__normal: $font-weight__medium;

* {
	font-family: $font-family-task;
}

.h1,
h1 {
	font-size: $heading-h1-size;
	letter-spacing: -0.89px;
	line-height: 32px;
}

.h2,
h2 {
	font-size: $heading-h2-size;
	letter-spacing: -0.86px;
}

.h3,
h3 {
	font-size: $heading-h3-size;
	letter-spacing: -0.62px;
}

.h4,
h4 {
	font-size: $heading-h4-size;
	letter-spacing: -0.4px;
}

.h5,
h5 {
	font-size: $heading-h5-size;
	letter-spacing: -0.62px;
}

.h6,
h6 {
	font-size: $heading-h6-size;
	letter-spacing: -0.62px;
}
