$light-grey: #bcbcbd;
$ligt-grey--alternative: #f1f3f4;
$color-black: #282829;
$color-white: #fff;

$dark-blue: #1b1543;
$dark-blue--alternative: #332d57;

$heading-color: $dark-blue;
$heading--alternative: $dark-blue--alternative;

$pink: #eb727f;
$orange: #ffaf87;
$purple: #715b85;
$cyan: #385d84;
$border: #f3f3f3;

$primary-color: $pink;
$primary-color--accent: $purple;
$secondary-color: $cyan;

$text-paragraph: $color-black;
$text-dark: $dark-blue;
$text-light: $light-grey;

.chat-previews {
	border-top: 1px solid $border;
}

.chat {
	display: flex;
	flex-direction: column;
	border-left: 5px solid transparent;

	&.unread {
		.chat-previews__friend {
			border-left: 5px solid $primary-color;
		}
	}

	&__friend {
		display: flex;
		align-items: center;
		padding: 25px 15px;

		&:not(:last-child) {
			border-bottom: 1px solid $border;
		}
		img {
			margin-right: $spacing-s;
			// max-width: 60px;
			border-radius: 100%;
		}
	}

	&__info {
		h3 {
			font-size: 1.5em;
			margin: 0;
			color: $heading-color;
		}

		p {
			color: $text-light;
			font-size: 1.15em;
			line-height: normal;
		}
	}

	&__timestamp {
	}
}
