.hero {
	overflow: hidden;
	position: relative;
	background: linear-gradient(180.56deg, #0b0816 0.64%, #2e081d 91.93%);
	padding-top: 125vh;
	transition: 1333ms ease-in-out;

	img {
		margin: 0 auto;
		width: 50%;
		transform: translate(-17%, 75%);
	}

	&__inner {
		background-image: url('/dotsbgsvg.svg');
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		transition: 111ms ease-in-out;
		bottom: 0;
		background-size: cover;
		background-position: center center;
		// background-position-y: -80px;

		// &.scrolled {
		// 	padding-top: 0;
		// 	background-position-y: -20px;
		// } 

		 h2  { 
			
		 }
	}
}
