$intro--base-duration: 1000ms;
$intro--base-delay: 250ms;

@keyframes fadeOpacity {
	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.intro {
	&__line-one {
		transition: 250ms ease-in-out;
		&:hover {
			font-size: 104%;
		}
		.letter {
			opacity: 0;
			animation: fade-in 1s 3s ease-out forwards;
		}
	}
}

@for $i from 1 through 12 {
	.text-slate-300 .letter:nth-child(#{$i}) {
		animation-delay: 50ms * ($i + 12 * 3);
	}
}

.intro {
	&__line-one {
	}
	// animation four
	&__dot {
		animation: scaleInBig 2s 2s forwards;
		opacity: 0;
		position: absolute;
	}

	@keyframes scaleInBig {
		0% {
			opacity: 0;
			filter: blur(10px);
		}

		100% {
			opacity: 1;
			filter: blur(0);
		}
	}
	// animation 5
	.line-two {
		opacity: 0;
		animation: puff-in-center 1522ms 2s cubic-bezier(0.47, 0, 0.745, 0.715)
			forwards;
	}
}
@keyframes puff-in-center {
	0% {
		transform: scale(2);
		filter: blur(4px);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		filter: blur(0px);
		opacity: 1;
	}
}

.hero {
	overflow: hidden;
	position: relative;
	background: linear-gradient(180.56deg, #0b0816 0.64%, #2e081d 91.93%);
	padding-top: 125vh;
	transition: 1333ms ease-in-out;

	img {
		margin: 0 auto;
		width: 50%;
		transform: translate(-17%, 75%);
	}

	&__inner {
		background-image: url('/dotsbgsvg.svg');
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		transition: 111ms ease-in-out;
		bottom: 0;
		background-size: cover;
		background-position: center center;

		// &.scrolled {
		// 	padding-top: 0;
		// 	background-position-y: -20px;
		// }

		h2 {
			font-weight: 800;
			line-height: 120px;
			letter-spacing: -0.04em;
			padding-top: 5rem;
			margin: 0 auto;
			max-width: 1024px;

			span {
				color: #ff323f;
			}
		}
	}
}
