:root {
	--base-width: 100px;
	--border-width: 5px;
	--base-duration: 2s;
	--base-delay: 0.12s;
}

body {
	position: relative;
}

.blur-overlay {
	content: '';
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(3px);
	z-index: 15 !important;
}

.blur-overlay.show {
	display: block;
}
#loading-container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: var(--base-width);
	height: var(--base-width);
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border: var(--border-width) solid transparent;
	z-index: 25;
}

#loading-container > div {
	position: inherit;
	width: calc(
		var(--base-width) - ((var(--border-width) * 2) * var(--iteration))
	);
	height: calc(
		var(--base-width) - ((var(--border-width) * 2) * var(--iteration))
	);
	border: inherit;
	border-radius: inherit;
	transform-origin: center;
	border-color: var(--color) transparent transparent var(--color);
	margin: calc(var(--border-width) * var(--iteration));
	animation: var(--base-duration) calc(var(--base-delay) * var(--iteration))
		infinite ease anim-loading;
}

@keyframes anim-loading {
	0% {
		scale: 1;
		transform: rotate(0);
	}

	50% {
		scale: 1.5;
	}

	100% {
		transform: rotate(360deg);
		scale: 2.1;
	}
}
