.login {
	.header {
		padding-left: 40px;
		position: absolute;

		&__inner {
			max-width: 100%;
		}
	}

	h1 {
		animation: slideInFromLeft 1s 250ms ease-in-out forwards,
			blurFadeSmall 1s 500ms forwards;
		font-family: $font--primary;
		transform: translateX(-300%);
	}

	.logo {
		.r,
		.logo__icon-left,
		.logo__icon-right,
		.e,
		.m,
		.c,
		.o {
			fill: #865c6c;
		}
	}
}
