$checkbox-size: 16px;

.modal {
	&__inner {
		display: flex;
		flex-direction: column;
		max-width: 500px;
		min-width: 400px;
		max-height: 900px;
		padding: 40px 72px 40px 70px;
		border-radius: 24px;
		background-color: $color-white;
	}

	&__title {
		font-weight: 700;
		font-size: 40px;
		line-height: 48px;
		color: $theme-black;
		margin: 0;
		padding: 0;
		padding-bottom: $spacing;
		text-align: center;
	}

	&__divider {
		text-align: center;
		font-size: 1.5em;
		padding-bottom: $spacing;
	}

	&__input {
		position: relative;
		overflow: hidden;
		position: relative;

		&:not(:last-child) {
			margin-bottom: $spacing-s;
		}

		svg {
			position: absolute;
			left: 16px;
			font-size: 14px;
			top: 50%;
			color: #5b5b5d;
			transform: translateY(-50%);
			z-index: 2;
		}
	}

	&__register {
		display: flex;
		flex-direction: column;

		input {
			display: flex;
			align-items: center;
			padding-left: calc(32px + $spacing-s);
			width: 100%;
			font-size: 1.5em;
			transition: 250ms ease-in-out all;
		}
	}

	&__social {
		display: flex;
		justify-content: center;

		svg {
			font-size: 28px;
		}

		.facebook {
			color: #2474e1;
			padding-right: $spacing-s;
		}

		.google {
			padding-left: $spacing-s;
			color: #fbbc05;
		}
	}

	.login-btn {
		margin: $spacing 0;
	}

	&__remember-me {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: $spacing-s 0;

		span {
			display: flex;
			align-items: center;
			font-size: 1.3em;
		}

		a {
			font-size: 1.3em;
			text-decoration: underline;
			color: $link-color;
			font-weight: 800;
		}

		input {
			border-radius: 16px;
			width: $checkbox-size;
			height: $checkbox-size;
			margin-right: $spacing-s;
		}
	}

	&__new-user {
		display: flex;
		justify-content: center;

		p {
			margin-right: 6px;
		}

		a {
			margin-left: 6px;
			text-decoration: underline;
			color: $link-color;
		}

		p,
		a {
			font-size: 1.3em;
		}
	}
	&__success-message {
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0;
	}
}
