$hamburger-stripe-width: 20px;
$color: #fff;
$active: #fff;
$spacing: 16px;
$colors: $color--secondary, lighten($color--secondary, 5%),
	lighten($color--secondary, 10%), lighten($color--secondary, 15%);
// $cubic: cubic-bezier(0.09, 0.75, 1, 0.25);
$cubic: ease-out;
$animation-duration: 1000ms;

.menu-delay {
	.offcanvas-open {
	}
}

.offcanvas-open {
	.offcanvas-menu {
		ul {
			opacity: 1;

			@for $i from 1 through 4 {
				li:nth-child(#{$i}) {
					animation-delay: #{$i * 0.1}s;
					// background-color: nth($colors, $i);
				}
			}

			li {
				opacity: 0;
				animation: fadeInFromLeft 1500ms 2000ms ease-in-out forwards;
				transform: translateX(0);
				transition: 350ms ease-in-out;
				position: relative;

				&:first-child {
					&:hover {
						transform-origin: top left;

						&:after {
							top: -300px;
							background-color: lighten($color--mint, 5%);
						}
					}
				}

				&:nth-child(2) {
					&:hover {
						transform-origin: top right;

						&:after {
							top: -150px;
							background-color: $color--primary;
						}
					}
				}

				&:nth-child(3) {
					&:hover {
						transform-origin: bottom left;

						&:after {
							top: -100px;
							background-color: #0b05b4;
						}
					}
				}

				&:hover {
					scale: 1.01;

					&:after {
						transition: 300ms ease-in-out;
						opacity: 0.4;
					}
				}

				&:after {
					content: '';
					width: 100%;
					height: 400px;
					position: absolute;
					filter: blur(500px);
					opacity: 0;
					right: -150%;
					background-color: $color--mint;
				}

				@keyframes hoverBlur {
					0% {
						opacity: 0;
					}

					100% {
						opacity: 1;
					}
				}
			}
		}
		&__menu {
			&--tagline {
				opacity: 0;
				animation: show 2509ms 500ms fow;

				h2 {
					animation: swing-in-top-fwd $animation-duration 350ms $cubic
						forwards;
				}

				p {
				}

				.first {
					opacity: 0;
					animation: swing-in-top-fwd $animation-duration 750ms $cubic
						forwards;
					// second line of p
				}

				.last {
					opacity: 0;
					animation: swing-in-top-fwd $animation-duration 1250ms
						$cubic forwards;
					&:first-child {
					}
					i {
						// animation: flip-in-hor-bottom 750ms 1350ms infinite;
					}
				}
			}
		}
		@keyframes spaceInUp {
			0% {
				opacity: 0;
				transform-origin: 50% 0%;
				transform: scale(0.2) translate(0%, -200%);
			}
			100% {
				opacity: 1;
				transform-origin: 50% 0%;
				transform: scale(1) translate(0%, 0%);
			}
		}
		@keyframes swing-in-top-fwd {
			0% {
				transform: rotateX(-100deg);
				transform-origin: top;
				opacity: 0;
			}

			50% {
				opacity: 1;
			}

			100% {
				transform: rotateX(0deg);
				opacity: 1;
				transform-origin: top;
			}
		}

		@keyframes flip-in-hor-bottom {
			0% {
				transform: rotateX(80deg);
				opacity: 0;
			}
			100% {
				transform: rotateX(0);
				opacity: 1;
			}
		}

		@keyframes fadeIn {
			0% {
				opacity: 0;
			}

			90% {
				opacity: 0;
			}

			100% {
				opacity: 1;
			}
		}

		@keyframes fadeInTitle {
			0% {
				filter: blur(3px);
				opacity: 0;
				transform: translateX(-500px);
			}

			50% {
				opacity: 0;
			}

			100% {
				filter: blur(0px);
				transform: translateX(0);

				opacity: 1;
			}
		}

		@keyframes tagline {
			0% {
				color: red;
				opacity: 0;
			}

			100% {
				opacity: 1;
				color: blue;
			}
		}

		&:before {
			animation: menuOpen 1250ms forwards;
		}

		svg {
			opacity: 1;
			filter: blur(10px);
			animation: show 1500ms 500ms fowards;
			width: 1000px;
		}

		&__blob {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 440 440' style='transform: warpEffect'%3E%3Cdefs%3E%3ClinearGradient id='gradient' x1='0%' y1='0%' x2='100%' y2='0%25'%3E%3Cstop offset='0%' stop-color='%238A3FFC' stop-opacity='1'/%3E%3Cstop offset='100%' stop-color='%23FFD6E8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M220,395.53933411763103C271.8988843733411,399.28979104676273,323.36573655072516,368.30051209877934,349.6520298646874,323.3940436316749C372.848170364204,283.7666705571006,343.7948804868436,238.55291586785117,338.5982704679198,192.9307186917393C331.7534786640762,132.83876640607272,369.0303268781619,49.869482662585064,315.3274132463682,22.050586714023297C261.80355225889144,-5.675557341862472,214.6213199786505,70.60418830124968,163.2117166815451,102.07791461461652C122.69721741777346,126.881495653392,65.49578104475033,136.0213108761244,53.91379179138397,182.09190679017962C42.20023622667081,228.6858444405604,82.38906398758922,268.29517513919006,111.8929945303254,306.21246001382997C142.09524249258556,345.02719482283237,170.9470303752646,391.99453634317103,220,395.53933411763103' fill='url(%23gradient)'/%3E%3C/svg%3E");
			filter: blur(10px);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: 100vw;
			background-position: -130px;
			height: 700px;
			position: absolute;
			right: -50px;
			transition: all 0.5s ease-out;
			animation: opacity 500ms;
		}
	}
}

.gradient-text {
	background: linear-gradient(90deg, $color--secondary 0, #d6b0bc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.offcanvas-menu {
	&__menu {
		margin-top: 90px;
		padding: $spacing 36px;
		color: $off-white;
		transition: 250ms ease all;

		h2,
		p {
			font-size: 24px;
		}

		p {
			margin: 0;
			font-size: calc(24px * 0.9);
		}

		span {
			font-size: 24px;
		}

		i {
			position: relative;

			&:after {
				content: '*';
				font-size: 16px;
				position: absolute;
				color: $color--secondary;
				animation: gradientWave 15s repeat;

				@keyframes gradientWave {
					0% {
						background-size: 100% 100%;
					}

					100% {
						background-size: 250% 400%;

						color: red;
					}
				}
			}
		}

		ul {
			margin-top: 50px;
			list-style: none;
			padding: 0;
			opacity: 0;

			li {
				color: $off-white;
				font-size: 38px;
				font-weight: 600;
				line-height: 48px;
				transition-delay: 1s;
				left: -300px;
				opacity: 0;
			}
		}
	}
}

@keyframes fadeInFromLeft {
	0% {
		transform: translateX(-500px);
		filter: blur(3px);
	}

	75% {
		opacity: 0;
	}

	100% {
		left: 0;
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes show {
	0% {
		scale: 0.1;
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		scale: 1;
		opacity: 1 !important;
	}
}

@keyframes tagline {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1 !important;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.blob__one {
	position: relative;
	width: 440px;
	height: 440px;
}

.child {
	position: absolute;
	top: 0;
	left: 0;
}

@keyframes menuOpen {
	0% {
		background-color: black;
		opacity: 0;
		height: 25px;
		width: 25px;
	}

	50% {
		opacity: 1;
	}

	100% {
		scale: 70;

		// transform: scale(50);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.offcanvas-menu {
	position: absolute;
	width: 33px;
	height: 33px;
	top: 0;
	right: 17px;
	z-index: 5;

	&::before {
		content: '';
		position: absolute;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		// background-color: $off-black;
		// background-color: $off-black-two;
		background-color: $black-accent;
		// background-color: $black--alternative;
		transform: scale(1);
		transition: 350ms ease all;
		z-index: -1;
		top: 20px;
		right: -19px;
	}
}

.menu-delay {
	.offcanvas-menu {
		width: 100%;
		height: 100vh;
	}

	.btn--menu {
		position: absolute;
		bottom: 0;
		z-index: 10;
		border-radius: 0.7rem;
		padding: 0.515rem 0.5rem;
		text-emphasis: center;
		background-color: #f0eefe;
		margin-bottom: $spacing;
		margin-left: $spacing;

		color: $black--alternative;
		transition: 250ms ease-in;
		width: 100%;

		&:before {
			content: '';
			background: linear-gradient(
				45deg,
				#ff0000,
				#ff7300,
				#fffb00,
				#48ff00,
				#00ffd5,
				#002bff,
				#7a00ff,
				#ff00c8,
				#ff0000
			);
			position: absolute;
			top: -2px;
			left: -2px;
			background-size: 400%;
			z-index: -1;
			filter: blur(5px);
			width: calc(100% + 4px);
			height: calc(100% + 4px);
			animation: glowing 20s linear infinite;
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
			border-radius: 10px;
		}
		&:after {
			z-index: -1;
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: #f0eefe;
			left: 0;
			top: 0;
			border-radius: 10px;
		}
		@keyframes glowing {
			0% {
				background-position: 0 0;
			}
			50% {
				background-position: 400% 0;
			}
			100% {
				background-position: 0 0;
			}
		}

		.btn--menu:active {
			color: #000;
		}

		.btn--menu:active:after {
			background: transparent;
		}

		.btn--menu:hover:before {
			opacity: 1;
		}
		&:hover {
			&:before {
				opacity: 1;
			}
			background-color: $color--primary;
		}
	}
}

.header {
	.toggle {
		cursor: pointer;

		svg {
			z-index: 15;
		}

		input {
			display: none;

			& + div {
				width: 20px;
				height: 14px;
				position: relative;

				div {
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					transition: transform 0.5s ease;

					span {
						display: block;
						position: absolute;
						left: 0;
						right: 0;

						&:first-child {
							top: 0;
							&:before,
							&:after {
								top: 0;
							}
						}

						&:last-child {
							bottom: 0;
							&:before,
							&:after {
								bottom: 0;
							}
						}

						&:before,
						&:after {
							content: '';
							display: block;
							width: 47%;
							height: 2px;
							border-radius: 1px;
							background: $color;
							position: absolute;
							transition: transform 0.5s ease,
								border-radius 0.3s ease, background 0.4s ease;
							z-index: 15;
						}

						&:before {
							left: 0;
							transform-origin: 0 50%;
							transform: translate(1px, 0) scaleX(1.1);
						}

						&:after {
							right: 0;
							transform-origin: 100% 50%;
							transform: translate(-1px, 0) scaleX(1.1);
						}
					}
				}

				svg {
					display: block;
					fill: none;
					stroke: $color;
					stroke-width: 2px;
					width: 44px;
					height: 44px;
					stroke-linecap: round;
					position: absolute;
					left: 50%;
					top: 50%;
					margin: -22px 0 0 -22px;
					stroke-dasharray: 0 82.801 8 82.801;
					stroke-dashoffset: 82.801;
					transform-origin: 50% 50%;
					transform: scale(1);
					transition: stroke-dashoffset 0.5s ease,
						stroke-dasharray 0.6s ease, transform 0.5s ease,
						stroke 0.4s ease;
					&:nth-child(3) {
						transform: rotate(180deg) scale(1);
					}
				}
			}

			&:checked + div {
				div {
					transform: rotate(90deg);

					span {
						&:before,
						&:after {
							background: $active;
						}

						&:first-child {
							&:before {
								transform: rotate(45deg) translate(2.2px, -3px)
									scaleX(1.05);
							}

							&:after {
								transform: rotate(-45deg)
									translate(-2.2px, -3px) scaleX(1.05);
							}
						}

						&:last-child {
							&:before {
								transform: rotate(-45deg) translate(2.2px, 3px)
									scaleX(1.05);
							}

							&:after {
								transform: rotate(45deg) translate(-2.2px, 3px)
									scaleX(1.05);
							}
						}
					}
				}
				svg {
					stroke-dashoffset: 62;
					stroke-dasharray: 0 82.801 62 82.801;
					transform: rotate(90deg);
					stroke: $active;

					&:nth-child(3) {
						transform: rotate(270deg);
					}
				}
			}
		}
	}
}
