@import '../utils/_menu-animation';
@import './_menu-toggle.scss';
@import './header/_svgblobs.scss';

.offcanvas-open {
	.offcanvas-menu {
		&__menu {
			&--tagline {
				animation: initialHide $animation-duration $cubic;

				h2 {
					animation: swing-in-top-fwd $animation-duration 350ms $cubic
						forwards;
					transform: translateX(0);
				}

				.first {
					opacity: 0;
					animation: swing-in-top-fwd $animation-duration 750ms $cubic
						forwards;
				}

				.last {
					opacity: 0;
					animation: swing-in-top-fwd $animation-duration 1250ms
						$cubic forwards;
				}
			}
		}

		ul {
			opacity: 1;

			@for $i from 1 through 4 {
				li:nth-child(#{$i}) {
					animation-delay: #{$i * 0.1}s;
				}
			}

			li {
				opacity: 0;
				animation: fadeInFromLeft 1500ms 2000ms ease-in-out forwards;
				transform: translateX(0);
				transition: 350ms ease-in-out;
				position: relative;

				&:first-child {
					&:hover {
						transform-origin: top left;

						&:after {
							top: -300px;
							background-color: lighten($color--mint, 5%);
						}
					}
				}

				&:nth-child(2) {
					&:hover {
						transform-origin: top right;

						&:after {
							top: -150px;
							background-color: $color--primary;
						}
					}
				}

				&:nth-child(3) {
					&:hover {
						transform-origin: bottom left;

						&:after {
							top: -100px;
							background-color: #00ff3c;
						}
					}
				}

				&:hover {
					scale: 1.01;

					&:after {
						transition: 300ms ease-in-out;
						scale: 2;
						opacity: 1;
					}
				}

				// &:after {
				// 	content: '';
				// 	scale: 1;
				// 	width: 100%;
				// 	opacity: 0;
				// 	height: 100vh;
				// 	position: absolute;
				// 	filter: blur(1000px);
				// 	right: -150%;
				// 	animation: gradient 15s ease infinite;
				// 	background: radial-gradient(#e66465, #9198e5);
				// }
			}
		}

		&:before {
			animation: menuOpen 1250ms forwards;
		}
	}
}

.offcanvas-menu {
	position: absolute;
	width: 33px;
	height: 33px;
	top: 0;
	right: 17px;
	z-index: 5;

	&__menu {
		margin-top: 90px;
		padding: $spacing 36px;
		color: $off-white;
		transition: 250ms ease all;

		h2,
		p {
			font-size: 24px;
		}

		p {
			margin: 0;
			font-size: calc(24px * 0.9);
		}

		span {
			font-size: 24px;
		}

		i {
			position: relative;

			&:after {
				content: '*';
				font-size: 16px;
				position: absolute;
				color: $color--secondary;
			}
		}

		ul {
			margin-top: 50px;
			list-style: none;
			padding: 0;
			opacity: 0;

			li {
				color: $off-white;
				font-size: 38px;
				font-weight: 600;
				line-height: 48px;
				transition-delay: 1s;
				left: -300px;
				opacity: 0;
			}
		}
	}

	&::before {
		content: '';
		position: absolute;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background-color: $black-accent;
		transform: scale(1);
		transition: 350ms ease all;
		z-index: -1;
		top: 20px;
		right: -19px;
	}
}

.menu-delay {
	.offcanvas-menu {
		width: 100%;
		height: 100vh;
	}
}
