.todo-app {
    background-color: #cbcbf3;
}

.todo {
    display: flex;
    margin-top: 20px;
    background: $color-white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 1px 2px 10px #ddd;

    &__add {
        display: flex;

        .todos {
            display: flex;
        }
    }

    &__task-section {
        padding: 4px;

        h4 {
            margin-bottom: $spacing-s;
        }

        input,
        textarea {
            background: #eff3f4;
            border: none;
            width: 100%;
            border-radius: 8px;
            padding: $spacing-s;
            font-size: 1em;
            font-style: italic;
        }

        textarea {
            padding: $spacing-s;
        }
    }

    &__intro {
        display: flex;
        align-items: baseline;

        padding: $spacing-s;

        .text {
            padding-right: $spacing;
        }

        h1 {
            color: $theme-black;
            letter-spacing: 1px;
            font-family: $font--primary;
            padding-bottom: $spacing-s;
        }

        p {
            color: #rgba(40, 40, 40, 1);
            font-size: 1.5em;
            font-weight: 400;
        }
    }

    form {
        width: fit-content;
        padding: 10px 20px;
        border-radius: 5px;
        min-width: 300px;
    }

    &__wrapper {
        width: 50%;
        margin: 0 auto;
    }

    .button-complete,
    .button-delete,
    .button-edit {
        border: none;
        outline: none;
        cursor: pointer;
        background-color: red;
        border-radius: 50%;
    }

    button {
        background: #333;

        color: $color-white;
        padding: 10px 20px;
        outline: none;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        font-weight: 500;
    }
}

.tasks {
    &__task {
        padding: $spacing-s;
        background: #f6f6f6;
        border-radius: 8px;
        margin-bottom: 8px;

        .title {
            font-size: 1.5em;
        }

        .description {
            color: #rgba(40, 40, 40, 1);
            font-size: 1.5em;
            font-weight: 400;
        }
    }
}

form h3 {
    text-align: center;
}

.authenticate-please {
    padding: $spacing;
}