$color-one: #69f0ad;
$color-two: #6efadc;
$color-three: #6fdbe3;
$color-four: #6eccfa;

$color-one-b: #ef7c8e;
$color-two-b: #fae8e0;
$color-three-b: #b6e2d3;
$color-four-b: #d8a7b1;

$color-one-c: #a3b18a;
$color-two-c: #588157;
$color-three-c: #3a5a40;
$color-four-c: #344e41;

$color-one-d: #355070;
$color-two-d: #6d597a;
$color-three-d: #b56576;
$color-four-d: #e56b6f;

.body-big {
	height: 200vh;
}

.widget {
	width: 50px;
	height: 50px;
	border-radius: 8px;
	padding: $spacing;
	background-color: $color-primary;
	position: absolute;
}

.theme {
	&--variant {
		animation: slide 3s ease-in-out infinite alternate;
		background-image: linear-gradient(
			-60deg,
			$color-one 25%,
			$color-two 25%,
			$color-three 25%,
			$color-four 25%
		);
		bottom: 0;
		left: -50%;
		opacity: 0.5;
		position: fixed;
		right: -50%;
		top: 0;
		z-index: -1;
	}

	&--variant-two {
		animation: slide 3s ease-in-out infinite alternate;
		background-image: linear-gradient(
			-60deg,
			$color-one-b 25%,
			$color-two-b 25%,
			$color-three-b 25%,
			$color-four-b 25%
		);
		bottom: 0;
		left: -50%;
		opacity: 0.5;
		position: fixed;
		right: -50%;
		top: 0;
		z-index: -1;
	}

	&--variant-three {
		animation: slide 3s ease-in-out infinite alternate;
		background-image: linear-gradient(
			-60deg,
			$color-one-c 25%,
			$color-two-c 25%,
			$color-three-c 25%,
			$color-four-c 25%
		);
		bottom: 0;
		left: -50%;
		opacity: 0.5;
		position: fixed;
		right: -50%;
		top: 0;
		z-index: -1;
	}

	&--variant-four {
		animation: slide 3s ease-in-out infinite alternate;
		background-image: linear-gradient(
			-60deg,
			$color-one-d 25%,
			$color-two-d 25%,
			$color-three-d 25%,
			$color-four-d 25%
		);
		bottom: 0;
		left: -50%;
		opacity: 0.5;
		position: fixed;
		right: -50%;
		top: 0;
		z-index: -1;
	}
}
.content {
	position: relative;
	z-index: 1;
}

.bg2 {
	animation-direction: alternate-reverse;
	animation-duration: 4s;
}

.bg3 {
	animation-duration: 5s;
}

@keyframes slide {
	0% {
		transform: translateX(-25%);
	}
	100% {
		transform: translateX(25%);
	}
}

.dial {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: relative;
	background-color: #fff;
}

.theme--variant .dial {
	border: 10px solid $color-one;
	border-right-color: $color-two;
	border-bottom-color: $color-three;
}

.theme--variant-two .dial {
	border: 10px solid $color-two;
	border-right-color: $color-three;
	border-bottom-color: $color-four;
}

.theme--variant-three .dial {
	border: 10px solid $color-three-b;
	border-right-color: $color-four-b;
	border-bottom-color: $color-one-b;
}

.theme--variant-four .dial {
	border: 10px solid $color-four-c;
	border-right-color: $color-one-c;
	border-bottom-color: $color-two-c;
}

.MuiSpeedDial-root {
	button {
		border: 10px solid $color-four-c;
		border-right-color: $color-one-c;
		border-bottom-color: $color-two-c;
	}
}
