// https://coolors.co/ceec97-f4b393-f88a9e-fc60a8-7a28cb-494368

.widget {
	width: 50px;
	height: 50px;
	border-radius: 8px;
	padding: $spacing;
	background-color: $color-primary;
	position: absolute;
}

.theme {
	&--variant {
		animation: slide 3s ease-in-out infinite alternate;
		background-image: linear-gradient(
			-60deg,
			$color-one 25%,
			$color-two 25%,
			$color-three 25%,
			$color-four 25%
		);
		bottom: 0;
		left: -50%;
		opacity: 0.5;
		position: fixed;
		right: -50%;
		top: 0;
		z-index: -1;
	}

	&--variant-two {
		animation: slide 3s ease-in-out infinite alternate;
		background-image: linear-gradient(
			-60deg,
			$color-one-b 25%,
			$color-two-b 25%,
			$color-three-b 25%,
			$color-four-b 25%
		);
		bottom: 0;
		left: -50%;
		opacity: 0.5;
		position: fixed;
		right: -50%;
		top: 0;
		z-index: -1;

		.intro__heading,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			color: black !important;
		}
	}

	&--variant-three {
		animation: slide 3s ease-in-out infinite alternate;
		background-image: linear-gradient(
			-60deg,
			$color-one-c 25%,
			$color-two-c 25%,
			$color-three-c 25%,
			$color-four-c 25%
		);
		bottom: 0;
		left: -50%;
		opacity: 0.5;
		position: fixed;
		right: -50%;
		top: 0;
		z-index: -1;
	}

	&--variant-four {
		animation: slide 3s ease-in-out infinite alternate;
		background-image: linear-gradient(
			-60deg,
			$color-one-d 25%,
			$color-two-d 25%,
			$color-three-d 25%,
			$color-four-d 25%
		);
		bottom: 0;
		left: -50%;
		opacity: 0.5;
		position: fixed;
		right: -50%;
		top: 0;
		z-index: -1;
	}
}
.content {
	position: relative;
	z-index: 1;
}

.bg2 {
	animation-direction: alternate-reverse;
	animation-duration: 4s;
}

.bg3 {
	animation-duration: 5s;
}

@keyframes slide {
	0% {
		transform: translateX(-25%);
	}
	100% {
		transform: translateX(25%);
	}
}

.dial {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: relative;
	background-color: #fff;
}

.theme--variant .dial {
	border: 10px solid $color-one;
	border-right-color: $color-two;
	border-bottom-color: $color-three;
}

.theme--variant-two .dial {
	border: 10px solid $color-two;
	border-right-color: $color-three;
	border-bottom-color: $color-four;
}

.theme--variant-three .dial {
	border: 10px solid $color-three-b;
	border-right-color: $color-four-b;
	border-bottom-color: $color-one-b;
}

.theme--variant-four .dial {
	// border: 10px solid $color-four-c;
	// border-right-color: $color-one-c;
	// border-bottom-color: $color-two-c;
}

.MuiSpeedDial-root {
	button {
		// border: 10px solid $color-four;
		// border-right-color: $color-one;
		// border-bottom-color: $color-two;
		background-image: linear-gradient(
			-60deg,
			$color-one 25%,
			$color-two 25%,
			$color-three 25%,
			$color-four 25%
		);
		&:nth-child(2) {
			// border: 10px solid $color-one-b;
			// border-right-color: $color-two-b;
			// border-bottom-color: $color-three-b;
			background-image: linear-gradient(
				-60deg,
				$color-one-b 25%,
				$color-two-b 25%,
				$color-three-b 25%,
				$color-four-b 25%
			);
		}

		&:nth-child(3) {
			// border: 10px solid $color-one-c;
			// border-right-color: $color-two-c;
			// border-bottom-color: $color-three-c;
			background-image: linear-gradient(
				-60deg,
				$color-one-c 25%,
				$color-two-c 25%,
				$color-three-c 25%,
				$color-four-c 25%
			);
		}

		&:nth-child(4) {
			// border: 10px solid $color-one-d;
			// border-right-color: $color-two-d;
			background-image: linear-gradient(
				-60deg,
				$color-one-d 25%,
				$color-two-d 25%,
				$color-three-d 25%,
				$color-four-d 25%
			);
		}
	}
}
