.hasWaves {
	background: none;
}

@keyframes move-forever {
	0% {
		transform: translate3d(calc(-90px + var(--mouseX, 0) * 0.041q), 0, 0);
	}
	100% {
		transform: translate3d(calc(85px + var(--mouseX, 0) * 0.04), 0, 0);
	}
}
@keyframes move-forever-slow {
	0% {
		transform: translate3d(calc(-90px + var(--mouseX, 0) * 0.03), 0, 0);
	}
	100% {
		transform: translate3d(calc(85px + var(--mouseX, 0) * 0.03), 0, 0);
	}
}
.waves-parallax {
	transform: translate(-50%, -50%)
		translate(
			calc(var(--mouseX, 0) * 0.1px),
			calc(var(--mouseY, 0) * 0.1px)
		);
}

.waves {
	z-index: -1;
	&__animate-one {
		animation: move-forever 23s linear infinite;
	}
	&__animate-two {
		animation: move-forever-slow 12s linear infinite;
	}
	&__animate-three {
		animation: move-forever 22s linear infinite;
	}
	&__animate-four {
		animation: move-forever-slow 24s linear infinite;
	}
	&__animate-five {
		animation: move-forever 11s linear infinite;
	}
}
