$header-height: 70px;
$black: #000;

.header {
	display: flex;
	align-items: center;
	height: $header-height;
	color: $white;
	padding: 0 $spacing;
	position: relative;

	&__inner {
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: space-between;
	}

	&__menu {
		i {
			position: absolute;
			left: $spacing;
			height: 1px;
			width: 25px;
			background: $white;
			transform: rotate(0deg) translate3d(0, 0, 0);
			transition: 0.2s ease;
			transform-origin: center center !important;

			&:nth-child(2) {
				margin: 5px 0;
			}
			&:nth-child(3) {
				margin-top: 10px;
			}
		}
	}
}

.in-out {
	animation: out 4s cubic-bezier(0.39, 0.575, 0.565, 1) alternate infinite;
}
.circle-1 {
	border-radius: 100%;
	width: 70%;
	height: 70%;
	background: #00ffff;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 60px 40px #00ffff;
}
.circle-2 {
	border-radius: 50%;
	width: 60%;
	height: 60%;
	background: rgba(122, 255, 255, 0.2);
	box-shadow: 1px 1px 80px 20px #00ffff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.circle-3 {
	border-radius: 50%;
	width: 15%;
	height: 15%;
	background: rgb(255, 255, 255);
	box-shadow: 0px 0px 70px 35px #ffff;
}

@keyframes out {
	100% {
		transform: scale(1.5, 1.5);
	}
}
