$purple: #1b1030;
$lightred: #33122e;

$color--primary: $purple;
$color--secondary: $lightred;

// .particles {
// 	background-image: url('/bg.jpg');
// 	background-size: cover;
// 	background-position: center;
// 	background-repeat: no-repeat;
// }

body {
	margin: 0;
	padding: 0;
	position: relative;
}

body::after {
	content: ''; /* Add an empty content value */
	position: fixed; /* Set the position to fixed instead of absolute */
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.p5Canvas {
	display: block; /* Set the display property to block */
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		transform: rotate(5deg);
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
