$purple: #1b1030;
$lightred: #33122e;

$color--primary: $purple;
$color--secondary: $lightred;

.particles {
	position: relative;

	&:after {
		content: '';
		width: 100%;
		height: 100%;
		background: linear-gradient(
			to right,
			$color--primary,
			$color--secondary
		);
		position: absolute;
		scale: 1.1;
		top: 0;
		background-size: 400% 400%;
		display: block;
		z-index: 10;
		animation: gradient 10s ease-in-out infinite;
	}
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		transform: rotate(5deg);
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
