.blob {
	&__one {
		svg {
			position: absolute;
			right: -379px;
			top: 190px;
			height: 1000px;
		}

		.child {
			filter: blur(5px);
			scale: 1.1;
		}
	}
}

@keyframes warp {
	0% {
		transform: scale(1) translate(0, 0);
	}
	50% {
		transform: scale(1.02) translate(2px, 2px);
	}
	100% {
		transform: scale(1) translate(0, 0);
	}
}
.svg-abstract-lines {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.line-animation {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: drawLine 10s infinite alternate;
}

@keyframes drawLine {
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
