@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
	&__left {
		min-height: $header-height;
		z-index: 1000;
		
		.logo {
			transform: translateY(20%);
		}
	}

	&__inner {
		width: 100%;
	}
}

.onScroll {
	.header {
		.animation: unset;
	}
}

@keyframes slideFromTop {
	from {
		transform: translateY(-100%);
		fill: $color--mint;
		path: red;
	}

	to {
		transform: translateY(0);
	}
}

@keyframes slideFromLeft {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0);
	}
}

$baseAnimationDuration: 250ms;
$baseAnimationItteratorDuration: 250ms;
$baseAnimationDelay: 250ms;
$animationItterationCount: 1; // from top to bottom. So the first animation in = 1, then 2 etc. In this case .logo__icon-left is 1 and .logo__icon-right is 2, hero is 3. etc

// Itterations
$itterationOne: $baseAnimationDuration * 4;
$itterationTwo: $itterationOne + $baseAnimationItteratorDuration;
$itterationThree: $itterationTwo + $baseAnimationItteratorDuration;
$itterationFour: $itterationThree + $baseAnimationItteratorDuration;
$itterationFive: $itterationFour + $baseAnimationItteratorDuration;
$itterationSix: $itterationFive + $baseAnimationItteratorDuration;
$itterationSeven: $itterationSix + $baseAnimationItteratorDuration;

// First animation shown on site.

.logo__icon-right {
	animation-name: slideFromLeft, blurInSmall;
	animation-duration: $itterationOne;
	animation-timing-function: cubic-bezier(0.95, 0.46, 0.45, 0.94);
	animation-fill-mode: fowards;
}

// Second animation shown on site
.logo__icon-left {
	transform: translateY(-100%);
	animation: slideFromTop $baseAnimationDuration * 8 $itterationOne
		cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

// Third animations,
.st0 {
	&.r {
		opacity: 0;
		animation: fadeIn 1s $itterationTwo ease-in-out forwards,
			blurInSmall $baseAnimationDelay 5s ease forwards;
	}
	&.e {
		opacity: 0;
		animation: fadeIn 1s $itterationTwo + 200ms forwards,
			blurInSmall $baseAnimationDelay 5s ease forwards;
	}
	&.m {
		opacity: 0;
		animation: fadeIn 1s $itterationTwo + 300ms ease-in-out forwards,
			blurInSmall $baseAnimationDelay 5s ease forwards;
	}
	&.c {
		opacity: 0;
		animation: fadeIn 1s $itterationTwo + 400ms ease-in-out forwards,
			blurInSmall $baseAnimationDelay 5s ease forwards;
	}
	&.o {
		opacity: 0;
		animation: fadeIn 1s $itterationTwo + 500ms ease-in-out forwards,
			blurInSmall $baseAnimationDelay 5s ease forwards;
	}
}

.logo {
	.logo__icon-right {
		transition: 300ms ease-in-out;
	}

	.logo__icon-left {
		transition: 300ms ease-in-out;
	}
}

@keyframes swing-in-top-fwd {
	0% {
		transform: rotateX(-100deg);
		transform-origin: top;
		opacity: 0;
	}
	100% {
		transform: rotateX(0deg);
		transform-origin: top;
		opacity: 1;
	}
}

.header {
	z-index: 150;

	&__inner {
		@extend .container;
	}
	&__left {
		z-index: 150;

		svg {
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes colorChange {
	0% {
		fill: #ff0000;
	}
	50% {
		fill: #00ff00;
	}
	100% {
		fill: #0000ff;
	}
}

.line-animate {
	@apply stroke-current text-white stroke-2 fill-none;
	stroke-dasharray: 100 0;
	animation: draw 4s linear infinite;
	stroke-linecap: round;
}

@media (max-width: 1023px) {
	.header::after {
		@apply w-full;
	}
}

@media (max-width: 767px) {
	.header {
		@apply p-4;
	}

	.header::after {
		@apply z-10 w-full;
	}
}
