:root {
	--radius-1: 70%;
	--radius-2: 30%;
	--radius-3: 30%;
	--radius-4: 70%;
	--radius-5: 60%;
	--radius-6: 40%;
	--radius-7: 60%;
	--radius-8: 40%;
}
@import './_menu-toggle.scss';
@import './svgblobs.scss';

$animationDuration: 1s;
$staggeredFadeDuration: 400ms;
$fadeDelay: 1s;
$staggerItterator: 1.25;
$itteratorDelay: 0.2;
$cubic: ease-in-out;
$MenuOpenDuration: 2s;

.offcanvas-open {
	.offcanvas-menu {
		&__menu {
			&--tagline {
				animation: initialHide $fadeDelay $cubic;

				h2 {
					animation: swing-in-top-fwd $animationDuration
						$staggeredFadeDuration $cubic forwards;
					transform: translateX(0);
				}

				.first {
					opacity: 0;
					animation: swing-in-top-fwd $animationDuration
						$staggeredFadeDuration * 2 $cubic forwards;
				}

				.last {
					opacity: 0;
					animation: swing-in-top-fwd $animationDuration
						$staggeredFadeDuration * 3 $cubic forwards;
				}
			}
		}

		ul {
			opacity: 1;

			@for $i from 1 through 6 {
				li:nth-child(#{$i}) {
					animation-delay: #{$i * 0.3}s;
				}
			}

			li {
				opacity: 0;
				animation: fadeInFromLeft 1s $fadeDelay * 5 ease-in-out forwards;
				transform: translateX(0);
				transition: $animationDuration ease-out;
				position: relative;

				&:first-child {
					&:hover {
						transform-origin: top left;

						&:after {
							top: -300px;
							background-color: lighten($color--mint, 5%);
						}
					}
				}

				&:nth-child(2) {
					&:hover {
						transform-origin: top right;

						&:after {
							top: -150px;
							background-color: $color--primary;
						}
					}
				}

				&:nth-child(3) {
					&:hover {
						transform-origin: bottom left;

						&:after {
							top: -100px;
							background-color: #00ff3c;
						}
					}
				}

				&:hover {
					scale: 1.01;

					&:after {
						transition: 300ms ease-in-out;
						scale: 2;
						opacity: 1;
					}
				}
			}
		}

		> .container {
			height: 82%;
		}
	}
}

.hovered-0 {
}

.hovered-1 {
}

.hovered-2 {
}

.hovered-3 {
}

.offcanvas-menu {
	position: absolute;
	width: 33px;
	height: 33px;
	top: 0;
	right: 17px;
	z-index: 5;

	&__menu {
		margin-top: 90px;
		padding: $spacing 36px;
		color: $off-white;
		transition: 250ms ease all;

		h2,
		p {
			font-size: 24px;
		}

		p {
			margin: 0;
			font-size: calc(24px * 0.9);
		}

		span {
			font-size: 24px;
		}

		i {
			position: relative;

			&:after {
				content: '*';
				font-size: 16px;
				position: absolute;
				color: $color--secondary;
			}
		}

		ul {
			margin-top: 50px;
			list-style: none;
			padding: 0;
			opacity: 0;

			li {
				color: $off-white;
				font-size: 38px;

				font-weight: 600;
				line-height: 48px;
				transition-delay: 1s;
			}
		}
	}

	&::before {
		animation: menuOpen $MenuOpenDuration forwards;
		content: '';
		position: absolute;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		transform: scale(1);
		background: $black--alternative;
		z-index: 20;
		transition: 350ms ease all;
		z-index: -1;
		top: 20px;
		right: -19px;
	}
}

.menu-delay {
	.offcanvas-menu {
		width: 100%;
		height: 100dvh;
	}
}

@include mobile {
	.hovered-1,
	.hovered-2,
	.hovered-3,
	.hovered-4 {
	}

	.offcanvas-menu {
		&__menu {
			padding-right: $spacing-xs;
		}
	}
}
// write  media query max width
@media only screen and (max-width: 375px) {
	.offcanvas-menu__menu {
		li {
			font-size: 36px !important;
		}
	}
}

@keyframes orbWWave {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
