@import './_menu-toggle.scss';
@import './svgblobs.scss';

$animation-duration: 2s;

.offcanvas-open {
	.offcanvas-menu {
		&__menu {
			&--tagline {
				animation: initialHide $animation-duration $cubic;

				h2 {
					animation: swing-in-top-fwd $animation-duration 350ms $cubic
						forwards;
					transform: translateX(0);
				}

				.first {
					opacity: 0;
					animation: swing-in-top-fwd $animation-duration 500ms $cubic
						forwards;
				}

				.last {
					opacity: 0;
					animation: swing-in-top-fwd $animation-duration 1250ms
						$cubic forwards;
				}
			}
		}

		ul {
			opacity: 1;

			@for $i from 1 through 4 {
				li:nth-child(#{$i}) {
					animation-delay: #{$i * 0.1}s;
				}
			}

			li {
				opacity: 0;
				animation: fadeInFromLeft 2s $animation-duration * 1.1
					ease-in-out forwards;
				transform: translateX(0);
				transition: 350ms ease-out;
				position: relative;

				&:first-child {
					&:hover {
						transform-origin: top left;

						&:after {
							top: -300px;
							background-color: lighten($color--mint, 5%);
						}
					}
				}

				&:nth-child(2) {
					&:hover {
						transform-origin: top right;

						&:after {
							top: -150px;
							background-color: $color--primary;
						}
					}
				}

				&:nth-child(3) {
					&:hover {
						transform-origin: bottom left;

						&:after {
							top: -100px;
							background-color: #00ff3c;
						}
					}
				}

				&:hover {
					scale: 1.01;

					&:after {
						transition: 300ms ease-in-out;
						scale: 2;
						opacity: 1;
					}
				}
			}
		}

		> .container {
			height: 82%;
		}
	}
}

.hovered-1,
.hovered-2,
.hovered-3,
.hovered-4 {
	&:after {
		transition: 500ms ease all;
		opacity: 0;
	}

	&:hover {
		&:after {
			opacity: 1;
		}
	}
}

.hovered-0 {
	&:after {
		content: '';
		position: absolute;
		top: calc(50% - 50px);
		filter: blur(150px);
		right: -40%;
		width: 300px;
		height: 300px;
		border-radius: 50%;
		box-shadow: inset 0 0 50px #250155, inset 20px 0 80px #f0f,
			inset -20px 0 80px #0ff, inset 20px 0 300px rgb(10, 166, 86),
			inset -20px 0 300px #0ff, 0 166 50px #ba1010, -10px 166 80px #f0f,
			10px 0 80px rgb(164, 0, 71);
	}

	.blob {
		&__one {
			transform: rotate(5deg);
		}
	}
}

.hovered-1 {
	&:after {
		content: '';
		position: absolute;
		top: calc(50% - 100px);
		filter: blur(150px);
		right: -40%;
		width: 300px;
		height: 300px;
		border-radius: 50%;
		box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #f0f,
			inset -20px 0 80px #0ff, inset 20px 0 300px #f0f,
			inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f,
			10px 0 80px #0ff;
	}
}

.hovered-2 {
	&:after {
		content: '';
		position: absolute;
		top: calc(50% - 150px);
		filter: blur(150px);
		right: -40%;
		width: 300px;
		height: 300px;
		border-radius: 50%;
		box-shadow: inset 0 0 50px #fff, inset 20px 0 80px rgb(166, 45, 45),
			inset -20px 0 80px rgb(255, 0, 38),
			inset 20px 0 300px rgb(109, 51, 223), inset -20px 0 300px #0ff,
			0 0 50px #1f0451, -10px 0 80px #f0f, 10px 0 80px rgb(17, 163, 141);
	}
}

.hovered-3 {
	&:after {
		content: '';
		position: absolute;
		top: calc(50% - 200px);
		filter: blur(150px);
		right: -40%;
		width: 300px;
		height: 300px;
		border-radius: 50%;
		box-shadow: inset 0 0 50px #00ffbb, inset 20px 0 80px rgb(0, 217, 255),
			inset -20px 0 80px rgb(149, 0, 255),
			inset 20px 0 300px rgb(45, 0, 223), inset -20px 0 300px #0ff,
			0 0 50px #c90000, -10px 0 80px #f0f, 10px 0 80px rgb(0, 184, 21);
	}
}

.offcanvas-menu {
	position: absolute;
	width: 33px;
	height: 33px;
	top: 0;
	right: 17px;
	z-index: 5;

	&__menu {
		margin-top: 90px;
		padding: $spacing 36px;
		color: $off-white;
		transition: 250ms ease all;

		h2,
		p {
			font-size: 24px;
		}

		p {
			margin: 0;
			font-size: calc(24px * 0.9);
		}

		span {
			font-size: 24px;
		}

		i {
			position: relative;

			&:after {
				content: '*';
				font-size: 16px;
				position: absolute;
				color: $color--secondary;
			}
		}

		ul {
			margin-top: 50px;
			list-style: none;
			padding: 0;
			opacity: 0;

			li {
				color: $off-white;
				font-size: 38px;

				font-weight: 600;
				line-height: 48px;
				transition-delay: 1s;
			}
		}
	}

	&::before {
		animation: menuOpen 2500ms forwards;
		content: '';
		position: absolute;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		transform: scale(1);
		background: $black--alternative;
		z-index: 20;
		transition: 350ms ease all;
		z-index: -1;
		top: 20px;
		right: -19px;
	}
}

.menu-delay {
	.offcanvas-menu {
		width: 100%;
		height: 100vh;
	}
}

@include mobile {
	.hovered-1,
	.hovered-2,
	.hovered-3,
	.hovered-4 {
		&:after {
			animation: orbWave 10s;
		}

		&:hover {
			&:after {
				opacity: 1;
			}
		}
	}

	@keyframes orbWave {
		0% {
			opacity: 0;
		}

		50% {
			scale: 1.2;
			left: 0;
			transform: rotate(-5deg);
		}

		100% {
			scale: 1.2;
		}
	}
}
