@import './_menu-toggle.scss';
@import './svgblobs.scss';
@import '../../core/_offcanvas-animations.scss';

.offcanvas-open {
	.header {
		&::after {
			opacity: 0.3;
			animation: headerLine 1s forwards;
		}
	}
	.offcanvas-menu {
		.container {
			opacity: 0;
			animation: initialHideDelay $initialHide forwards;
		}

		.offcanvas-menu__menu--tagline {
			h2,
			.first,
			.last {
				opacity: 0;
				animation: initialHideDelay $menuOpenDuration $initialHide
						forwards,
					swingInTop $menuOpenDuration $itemAfterInitialHide forwards;
			}

			.first {
				animation-delay: $itemAfterInitialHide * $delayItterator-s;
			}

			.last {
				animation-delay: $itemAfterInitialHide * $delayItterator;
			}
		}

		&__items {
			li {
				animation: slideInFromLeft 1s forwards
					cubic-bezier(0.42, 0, 0.3, 0.81);
				transition: $animationDuration;
				animation-delay: 555ms;
				transform: translateX(-100%);
				position: relative;

				a {
					cursor: pointer;
				}

				&:nth-child(2) {
					animation-delay: 555ms + 155ms;
				}

				&:nth-child(3) {
					animation-delay: 555ms + 155ms * 2;
				}

				&:nth-child(4) {
					animation-delay: 555ms + 155ms * 3;
				}
			}
		}

		.btn--menu {
			animation: initialHideDelay $menuOpenDuration $initialHide forwards,
				puffInCenter 1500ms 2s cubic-bezier(0.47, 0, 0.745, 0.715) both,
				blurFadeSmall 1500ms 2s ease;
		}

		&::before {
			content: '';
			animation: menuOpen $menuOpenDuration forwards;
			position: absolute;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			transform: scale(1);
			background: $black--alternative;
			z-index: 20;
			transition: 350ms ease all;
			z-index: -1;
			top: 20px;
			right: -19px;
		}
	}
}
@include mobile {
	.offcanvas-open {
		.offcanvas-menu {
			&::before {
				animation-duration: 3s;
			}
		}
	}
}

// @keyframes translateXIn {
// 	0% {
// 		opacity: 0;
// 		transform: translateX(-500px);
// 	}

// 	100% {
// 		opacity: 0;
// 		transform: translateX(0);
// 	}
// }

.btn--menu {
	@extend .gradientBg;
}

.offcanvas-open {
	.offcanvas-menu {
		&__menu {
			&--tagline {
				// animation: translateXIn 1s;

				h2 {
					// animation: swing-in-top-fwd $animationDuration
					// $staggeredFadeDuration $cubic forwards;
					// transform: translateX(0);
				}

				.first {
					// opacity: 0;
					// animation: swing-in-top-fwd $animationDuration
					// $staggeredFadeDuration * 2 $cubic forwards;
				}

				.last {
					// opacity: 0;
					// animation: swing-in-top-fwd $animationDuration
					// $staggeredFadeDuration * 3 $cubic forwards;
				}
			}
		}

		&__bottom {
			display: flex;
			justify-content: flex-end;
			margin-left: $spacing-s;
		}

		ul {
			opacity: 1;

			@for $i from 1 through 6 {
				li:nth-child(#{$i}) {
					// animation-delay: #{$i * 0.1}s;
				}
			}

			li {
				// opacity: 0;
				// animation: fadeInFromLeft 1s $fadeDelay * 5 ease-in-out forwards;
				// transform: translateX(0);
				// transition: $animationDuration ease-out;
				position: relative;

				&:first-child {
					&:hover {
						transform-origin: top left;

						&:after {
							top: -300px;
							background-color: lighten($color--mint, 5%);
						}
					}
				}

				&:nth-child(2) {
					&:hover {
						transform-origin: top right;

						&:after {
							top: -150px;
							background-color: $color--primary;
						}
					}
				}

				&:nth-child(3) {
					&:hover {
						transform-origin: bottom left;

						&:after {
							top: -100px;
							background-color: #00ff3c;
						}
					}
				}

				&:hover {
					scale: 1.01;

					&:after {
						transition: 300ms ease-in-out;
						scale: 2;
						opacity: 1;
					}
				}
			}
		}

		> .container {
			height: 80dvh;
		}
	}
}

.hovered-0 {
}

.hovered-1 {
}

.hovered-2 {
}

.hovered-3 {
}

.offcanvas-menu {
	position: absolute;
	width: 3333px;
	height: 33px;
	top: 0;
	width: 100%;
	right: 17px;
	z-index: 5;

	&__menu {
		margin-top: 90px;
		padding: $spacing 36px;
		color: $off-white;
		transition: 250ms ease all;

		h2,
		p {
			font-size: 24px;
		}

		p {
			margin: 0;
			font-size: calc(24px * 0.9);
		}

		span {
			font-size: 24px;
		}

		i {
			position: relative;

			&:after {
				content: '*';
				font-size: 16px;
				position: absolute;
				color: $color--secondary;
			}
		}

		ul {
			margin-top: 50px;
			list-style: none;
			padding: 0;
			opacity: 0;

			li {
				color: $off-white;
				font-size: 38px;

				font-weight: 600;
				line-height: 48px;
				transition-delay: 1s;
			}
		}
	}
}

@include mobile {
	.hovered-1,
	.hovered-2,
	.hovered-3,
	.hovered-4 {
	}

	.offcanvas-menu {
		&__menu {
			padding-right: $spacing-xs;
		}
	}
}
// write  media query max width
@media only screen and (max-width: 375px) {
	.offcanvas-menu__menu {
		li {
			font-size: 36px !important;
		}
	}
}

@keyframes orbWWave {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
