.blob {
	&__one {
		width: 1000px;
		top: -160px;
		filter: blur(5px);
		stroke: none;
		opacity: 0.3;
		animation: initialHide 25000ms ease-out;
		z-index: -1;
		position: relative;
		animation: initialHide $animation-duration $cubic;

		@keyframes animateStopColor1 {
			0% {
				stop-color: #8a3ffc;
			}
			100% {
				stop-color: lightcoral;
			}
		}

		@keyframes animateStopColor2 {
			0% {
				stop-color: $color--primary;
			}
			100% {
				stop-color: $color--secondary;
			}
		}

		#stop1 {
			animation: animateStopColor1 300s infinite;
		}

		#stop2 {
			animation: animateStopColor2 300s infinite;
		}

		svg {
			animation: initialHide 2500ms;
		}

		@include mobile {
			top: -250px;
			left: -168px;
			animation: animateBlob 24s 1s infinite;
		}
	}
}

@include above-mobile {
	.blob {
		&__one {
			width: 2000px;
			top: -500px;
			left: 0;
		}
	}
}

.hovered-0 {
	transition: 1s ease all;
	.blob__one {
		stop {
			animation: animateStopColor2 10s ease-in-out infinite;
		}
	}
}

.hovered-1 {
	transition: 1s ease all;
	.blob__one {
		stop {
			animation: animateStopColor1 10s ease-in-out infinite;
		}
	}
}

.hovered-2 {
	transition: 1s ease all;
	.blob__one {
		stop {
			animation: animateStopColor1 10s ease-in-out infinite;
		}
	}
}

.hovered-2 {
	transition: 1s ease all;
	.blob__one {
		stop {
			animation: animateStopColor1 10s ease-in-out random($limit: 1);
		}
	}
}

.hovered-3 {
	transition: 1s ease all;
	.blob__one {
		stop {
			animation: animateStopColor1 10s ease-in-out reverse;
		}
	}
}
