.blob {
	&__one {
		width: 1000px;
		top: -160px;
		filter: blur(100px);
		stroke: none;
		animation: initialHide 25000ms ease-out;
		z-index: -1;
		position: relative;
		animation: initialHide $animation-duration $cubic;
		opacity: 0.1;

		@keyframes animateStopColor1 {
			0% {
				stop-color: #8a3ffc;
			}
			100% {
				stop-color: lightcoral;
			}
		}

		// @keyframes animateStopColor2 {
		// 	0% {
		// 		stop-color: $color--primary;
		// 	}
		// 	100% {
		// 		stop-color: $color--secondary;
		// 	}
		// }

		// #stop1 {
		// 	animation: animateStopColor1 300s infinite;
		// }

		// #stop2 {
		// 	animation: animateStopColor2 300s infinite;
		// }

		// svg {
		// 	animation: initialHide 2500ms;
		// }

		@include mobile {
			top: -390px;
			left: -318px;
			animation: animateBlob 24s 1s infinite;
			animation: delayShow 30s;
		}
	}
}

@include above-mobile {
	.blob {
		&__one {
			right: -55%;
			animation: 25s infinite;
			animation: delayShow 2s;
			display: none;

			@keyframes blobWave {
				0% {
					transform: rotate(-5deg);
					scale: 1.1;
					opacity: 0;
					filter: blur(100px);
				}

				50% {
					opacity: 0.35;
					transform: scale3d(20deg);
					scale: 0.8;
					filter: blur(150px);
					transform: rotate(0g);
				}

				100% {
					opacity: 0.2;
					scale: 1.15;
					filter: blur(100px);
					transform: rotate(5deg);
				}
			}
		}
	}
}

@keyframes delayShow {
	0% {
		opacity: 0;
		scale: 1;
		transform: rotate(-5deg);
	}

	7% {
		opacity: 0;
	}

	13% {
		opacity: 0.3;
	}

	100% {
		scale: 0.35;
		transform: rotate(5deg);
		opacity: 0.3;
	}
}

.hovered-0 {
	transition: 1s ease all;
}

.hovered-1 {
	transition: 1s ease all;
}

.hovered-2 {
	transition: 1s ease all;
}

.hovered-2 {
	transition: 1s ease all;
}

.hovered-3 {
	transition: 1s ease all;
}
