@use 'typography' as *;
@use 'buttons' as *;
@import '../../variables/responsive';
$off-white: #f9f9f9;

$space: 12px;
.not-authorized {
	display: flex;
	align-items: center;
	padding: 80px;

	&__inner {
		max-width: 500px;
		z-index: 3;
		position: relative;
	}

	h2 {
		color: #fff;
		// font-family: $font-family-raleway;
		max-width: 270px;
		letter-spacing: 1.1px;
		margin: 0;
		padding-bottom: $space;
	}

	p,
	li {
		color: $off-white;
		font-size: 14px;
		padding-bottom: 12px;
	}

	ul,
	li {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		display: flex;
		align-items: center;

		svg {
			font-size: 14px;
			margin-right: $space;
			margin-top: 2px;
			transition: 250ms ease all;

			&:hover {
				color: #ffa048;
			}
		}
	}

	&__buttons {
		display: flex;

		.cta {
			margin-right: $space * 2;
		}
	}

	.cta {
		margin-bottom: $space * 2;
	}

	ul {
		padding-bottom: $space * 2;
	}
}

.todo__inner {
	position: relative;
	z-index: 2;
	&:after {
		content: url('~/public/illutwo.png');
		width: 350px;
		transition: 250ms ease all;
		transform: rotate(3deg);
		z-index: 1;
		animation: backgroundblur 999s ease infinite;
	}
}

.todo__illustration {
	background-image: url('~/public/illutwo.png');
	background-position: right;
	background-size: contain;
	background-repeat: no-repeat;
	width: 350px;
	transition: 250ms ease all;
	transform: rotate(3deg);
	z-index: 2;
	//

	&:hover {
		transform: rotate(4deg);
		scale: 1.03;
	}
}
.illu {
	background-image: url('~/public/illutwo.png');
	background-position: right;
	background-size: contain;
	background-repeat: no-repeat;
	width: 350px;
	transition: 250ms ease all;
	transform: rotate(3deg);
	z-index: 2;
	filter: blur(8px);
	animation: backgroundblur 5s ease infinite;

	&:hover {
		transform: rotate(4deg);
		scale: 1.03;
	}
}
@keyframes backgroundblur {
	0% {
		scale: 15;
		filter: blur(10px);
		opacity: 0.2;
	}

	100% {
		scale: 15;
		filter: blur(9.8);
		opacity: 0.1;
	}
}
@mixin below-desktop {
	@media (min-width: #{$screen__zero}) and (max-width: #{$screen__l}) {
		@content;
	}
}

@media (max-width: 768px) {
	.todo__illustration {
		display: none;
	}
}

@media (max-width: 1280px) {
	.not-authorized {
		padding: 12px;
		position: relative;
		&__inner {
			max-width: 100%;
		}

		&__buttons {
			flex-direction: column;
		}

		h2 {
			max-width: unset;
		}
	}

	.todo__illustration {
		right: 40px;
		top: 0;
		bottom: 0;
		z-index: 10;
		position: absolute;
	}
}
