@use 'typography';
@use 'not-authorized';
@import 'task-aside';
$blue: #5051f9;
$border-color: #ededee;
$dark-blue: #282a30;
$background-secondary: #24262c;
$background-alternative: #292b31;
$backdrop: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
$border-radius: 12px;
$color-primary: #ff7979;

.authenticated {
	width: 100%;
}

.list-view {
	.tasks {
		display: flex;
		flex-direction: column;
		&__lane {
			width: 100%;
		}
	}
}

.tasks {
	&__task {
		margin-top: 8px;
		background-color: $white;
		border-radius: 10px;
	}

	&__top {
		word-break: break-all;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 14px;
		padding-bottom: $spacing;
		border-radius: 12px;
		padding: $spacing-m $spacing-m;

		.title {
			font-weight: 600;
		}

		.add {
			display: flex;
			align-items: center;
			font-weight: 200;
			cursor: pointer;

			svg {
				margin-right: $spacing-s;
				font-size: 30px;
				color: $color-primary;
			}
		}
	}

	.task {
		height: 100%;
		position: relative;
		padding: 12px;
		margin: 0 24px 24px 24px;
		background-color: $white;
		border-radius: 12px;
		border: 2px solid #ededee;
	}

	&__top {
		h3 {
			margin-bottom: $spacing-s;
		}
		p {
			line-height: 1;
		}
	}

	&__bottom {
		z-index: 10;
		display: flex;
		align-self: center;
		justify-content: space-between;
		font-size: 12px;
		color: $white;
		background-color: $color-primary;
		border-radius: 8px;
		margin-bottom: $spacing-s;
		width: max-content;
		min-width: 39px;
		padding: 0 $spacing-s;
		min-height: 16px;

		.edit {
			position: absolute;
			right: 15px;
			font-size: 20px;
			color: #000;
		}
		.remove {
			position: absolute;
			right: 45px;
			font-size: 20px;
			color: #000;
		}
	}

	&__title {
		font-weight: 200;
		color: $white;
	}

	&__description {
		color: $white;
	}

	button {
		color: $white;
	}

	&__lane-title {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.add {
			display: flex;
			align-items: center;

			svg {
				margin: 0 8px;
			}
		}

		h2 {
			font-size: 14px;
			opacity: 0.5;
			letter-spacing: 1.1px;
		}
	}

	&__add {
		display: flex;
		align-items: center;
		transition: 125ms ease all;
		cursor: pointer;

		svg {
			font-size: 16px;
			transition: 125ms ease all;
			color: $color-primary;
			fill: $color-primary;

			&:hover {
				color: lighten($blue, 25%);
			}
		}

		span {
			font-size: 12px;
			margin-left: 4px;
			opacity: 1;
		}
	}
}

.tasks {
	display: flex;
	justify-content: space-between;
	font-family: 'exo2' !important;

	&__lane {
		display: flex;
		flex-direction: column;
		flex: 1;
		height: 100%;
		background-color: $white;
		border: 2px solid $border-color;
		border-radius: 12px;
		width: calc(100% / 3);

		.inner {
			padding-bottom: $spacing * 2;
			position: relative;
		}

		h4 {
			font-size: 14px;
			opacity: 0.5;
		}
	}

	&__list {
		display: flex !important;
		flex-direction: column;
		color: $text-color;

		h3 {
			font-family: $font-family-task;
			color: #232360;
			font-size: 16px;
		}

		p {
			font-family: $font-family-task;
			font-size: 14px;
			color: #768396;
		}
	}

	&__date {
		color: #232360;
		font-size: 1em;
		background-color: #f4f4f7;
		padding: $spacing;
	}
}

.lane {
	border: 2px dashed white;
	border-radius: $border-radius;

	&__item {
		border-radius: 12px;
		background-color: #292b31;
		padding: 12px;
	}
}

.toggle-view {
	display: flex;
	padding: 8px;
	align-items: center;
	margin-top: 16px;
	justify-content: space-between;
	position: relative;
	transform: 250ms ease all;
	opacity: 0.5;
	margin-bottom: 30px;
	&.grid {
		opacity: 1;

		.list-view {
			opacity: 0.5;
		}
	}

	&.list {
		opacity: 1;

		.board-view {
			opacity: 0.5;
		}
	}

	&:after {
		content: '';
		width: 100%;
		height: 2px;
		background-color: #ededee;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	&.grid,
	&.list {
		&:after,
		&:before {
			content: '';
			width: 100%;
			height: 2px;
			background-color: #ededee;
			position: absolute;
			transition: 250ms ease all;
			bottom: 0;
		}
	}

	&.grid {
		&:before {
			z-index: 2;
			width: 95px;
			background: $color-primary;
			left: 0;
		}
	}

	&.list {
		&:before {
			z-index: 3;
			width: 67px;
			background: $color-primary;
			left: 105px;
		}
	}

	.view {
		display: flex;
	}

	svg {
		font-size: 20px;
	}

	button {
		display: flex;
		align-items: center;
		border: none;
		background: none;
		padding: 0;
		margin-right: 12px;

		svg {
			margin-right: 8px;
		}

		&.add {
			padding: 6px 24px;
			background-color: $color-primary;
			border-radius: 19px;
			font-size: 14px;
			color: $white;
			transition: 250ms ease all;

			&:hover {
				background-color: darken($color-primary, 5%);
			}
		}
	}
}

.confirm-task {
	position: absolute;
	z-index: 10;
	right: 20px;
	transform: translateX(-100%);
	bottom: 20px;
	background: $white;
	box-shadow: $backdrop;

	.btn--primary {
		background-color: $color-primary;
	}

	.btn--secondary {
		background-color: black;
	}
}

@include mobile {
	.todo {
		aside {
			margin-right: 0;
		}

		.not-authorized {
			align-items: flex-start;
			justify-content: normal;
			flex-direction: column;
			padding: $spacing;
			margin: 0;
		}
	}
}
