$aside-background: #222327;
$nav-background: #1c1d22;
$button-active-background: #323338;

$nav-item-size: 48px;

.todo {
	aside {
		display: flex;

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: $nav-item-size;
			height: $nav-item-size;
			opacity: 1;
			background-color: transparent;
			border-radius: 50%;
			box-sizing: inherit;
			padding: $spacing-s;

			&:not(:last-child) {
				margin-bottom: $spacing-s;
			}

			&.logo {
				svg {
					opacity: 1;
				}
			}

			&.active {
				background-color: $button-active-background;

				svg {
					opacity: 1;
				}
			}

			&:nth-child(odd) {
				svg {
					&:hover {
						transform: rotate(-3deg);
					}
				}
			}
		}

		svg {
			font-size: 22px;
			color: $white;
			opacity: 0.5;
			cursor: pointer;
			transition: 250ms ease all;

			&:hover {
				color: $color-primary;
				opacity: 1;
				scale: 1.1;
				transform: rotate(3deg);
			}
		}

		.nav {
			display: flex;
			flex-direction: column;

			&__small {
				display: flex;
				padding: $spacing $spacing-m;
				flex-direction: column;
				background-color: $nav-background;
				justify-content: space-between;
			}
		}

		h1 {
			font-size: 30px;
			font-weight: bold;
			color: $white;
			padding-bottom: 40px;
		}

		a {
			color: $white;
			opacity: 0.5;
			display: flex;
			justify-content: space-between;
			padding: relative;
			font-weight: bold;
			font-size: 16px;
			width: 100%;
			text-decoration: none;
			margin-bottom: 30px;
		}

		h3 {
			font-size: 16px;
			font-weight: bold;
			padding-bottom: $spacing-s;
			color: $white;
		}

		li,
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		li {
			position: relative;
			padding-left: $spacing-m;
			padding-bottom: $spacing-s;
			opacity: 0.5;
			cursor: pointer;
			font-size: 16px;
			font-weight: 500;

			&:before {
				position: absolute;
				content: '-';
				color: $white;
				left: 0;
			}

			&.active {
				opacity: 1;
			}
		}
	}
}
