@use 'typography';
@use 'not-authorized';
@import 'task-aside';
$blue: #5051f9;
$border-color: #2a2b2f;
$dark-blue: #282a30;
$background-secondary: #24262c;
$background-alternative: #292b31;
.tasks {
	&__task {
		margin-top: 8px;
		background-color: $dark-lighter;
		border-radius: 10px;
		color: $color-white;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 14px;
		padding-bottom: $spacing;

		.title {
			opacity: 0.5;
		}

		.add {
			display: flex;
			align-items: center;
			font-weight: 200;
			cursor: pointer;

			svg {
				margin-right: $spacing-s;
			}
		}
	}

	&__lane {
		background-color: $background-secondary;
		padding: $spacing-m;

		.inner {
			padding: $spacing-s;
		}

		&:not(:last-child) {
			margin-right: 8px;
		}
	}

	.task {
		height: 100%;
		position: relative;
		margin-bottom: $spacing;
		padding: $spacing * 1.3 $spacing-m;
		background-color: $background-alternative;
	}

	&__top {
		h3 {
			margin-bottom: $spacing-s;
		}
		p {
			line-height: 1;
		}
	}
	.remove {
		position: absolute;
		bottom: -45px;
		left: -4px;
		font-size: 24px;
	}

	&__bottom {
		z-index: 10;
		display: flex;
		align-self: center;
		justify-content: center;
		font-size: 12px;
		color: $white;
		background-color: $blue;
		border-radius: 8px;
		width: max-content;
		min-width: 39px;
		padding: 0 $spacing-s;
		min-height: 16px;
		position: absolute;
		top: 8px;
		right: 8px;
	}

	&__title {
		font-weight: 200;
		color: $white;
	}

	&__description {
		color: $white;
	}

	button {
		color: $white;
	}

	&__lane-title {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.add {
			display: flex;
			align-items: center;

			svg {
				margin: 0 8px;
			}
		}

		h2 {
			font-size: 14px;
			opacity: 0.5;
			letter-spacing: 1.1px;
		}
	}

	&__add {
		display: flex;
		align-items: center;
		transition: 125ms ease all;
		cursor: pointer;

		svg {
			font-size: 16px;
			transition: 125ms ease all;

			&:hover {
				color: lighten($blue, 25%);
			}
		}

		span {
			font-size: 12px;
			margin-left: 4px;
			opacity: 1;
		}
	}
}

.tasks {
	display: flex;
	justify-content: space-between;
	font-family: 'exo2' !important;
	&__lane {
		font-family: 'Exo 2', sans-serif !important;
		padding: 16px 20px;
		border-radius: 12px;
		min-width: 200px;
		background-color: $background-secondary;

		.inner {
			padding-bottom: $spacing * 2;
			position: relative;
		}

		h4 {
			font-size: 14px;
			opacity: 0.5;
		}
	}

	&__list {
		display: flex !important;
		flex-direction: column;
		padding: $spacing-s;
		color: $text-color;
		h3 {
			font-size: 16px;
		}

		p {
			font-size: 14px;
			opacity: 0.5;
		}
	}
}

.lane {
	&__item {
		border-radius: 12px;
		background-color: #292b31;
		padding: 12px;
	}
}

.toggle-view {
	display: flex;
	padding: 8px;
	align-items: center;
	margin-top: 16px;
	justify-content: space-between;
	position: relative;
	transform: 250ms ease all;
	opacity: 0.5;
	margin-bottom: 30px;
	&.grid {
		opacity: 1;

		.list-view {
			opacity: 0.5;
		}
	}

	&.list {
		opacity: 1;

		.board-view {
			opacity: 0.5;
		}
	}

	&:after {
		content: '';
		width: 100%;
		height: 2px;
		background-color: lighten($border-color, 10%);
		position: absolute;
		bottom: 0;
		left: 0;
	}

	&.grid,
	&.list {
		&:after,
		&:before {
			content: '';
			width: 100%;
			height: 2px;
			background-color: lighten($border-color, 10%);
			position: absolute;
			transition: 250ms ease all;
			bottom: 0;
		}
	}

	&.grid {
		&:before {
			z-index: 2;
			width: 95px;
			background: $white;
			left: 0;
		}
	}

	&.list {
		&:before {
			z-index: 3;
			width: 67px;
			background: $white;
			left: 105px;
		}
	}

	.view {
		display: flex;
	}

	svg {
		font-size: 20px;
	}

	button {
		display: flex;
		align-items: center;
		border: none;
		background: none;
		color: $white;
		padding: 0;
		margin-right: 12px;
		svg {
			margin-right: 8px;
		}

		&.add {
			padding: 6px 24px;
			background-color: $blue;
			border-radius: 19px;
			font-size: 14px;
		}
	}
}

@include above-mobile {
	.tasks {
		&__lane {
			min-width: 350px;
		}
	}
}

@include mobile {
	.todo {
		aside {
			margin-right: 0;
		}

		.not-authorized {
			align-items: flex-start;
			justify-content: normal;
			flex-direction: column;
			padding: $spacing;
			margin: 0;
		}
	}
}
