:root {
	--bg-color: #fff;
	--text-color: #000;
}

/* Dark theme */
[data-theme='dark'] {
	--bg-color: #1d1d1d;
	--text-color: #fff;
}

.todo {
	background-color: var(--bg-color);
	color: var(--text-color);
}

.dark-theme {
	color: $white;
	background-color: $dark;

	.header {
		background-color: $dark-lighter;
		color: $white;
		box-shadow: none;

		span,
		li,
		button,
		a {
			color: $white;
		}

		&__user {
			display: none;
		}
	}

	.todo {
		box-shadow: none;
		background-color: $dark-lighter;
	}
}
