.theme-white,
.dark-theme {
	* {
		transition: 500ms ease-in-out padding transform color;
	}
}

$white: #fff;
$white-alternative: #fbfaff;
$off-white: #f3f4f8;

.theme-white {
	.todo {
		background-color: $off-white;
		color: $text-color;
	}

	.not-authorized {
		p,
		h1,
		h2 {
			color: $text-color;
		}
	}
}

.toggleTheme {
	position: absolute;
	right: 0;
	top: 0;
}

.dark-theme {
	color: $white;
	background-color: $dark;

	.header {
		background-color: $dark-lighter;
		color: $white;
		box-shadow: none;

		span,
		li,
		button,
		a {
			color: $white;
		}

		&__user {
			display: none;
		}
	}

	.todo {
		box-shadow: none;
	}
}
