
.todo {
	background-color: $bg-color;
	color: $text-color;
}

.dark-theme {
	color: $white;
	background-color: $dark;
	:root {
		--bg-color: $darker;
		--text-color: #f9f9f9;
		--background-secondary: #24262c
		--background-alternative: #292b31;
	}

	.header {
		background-color: $dark-lighter;
		color: $white;
		box-shadow: none;

		span,
		li,
		button,
		a {
			color: var(--text-color);
		}

		&__user {
			display: none;
		}
	}

	.todo {
		box-shadow: none;

		h2 {
			color: var(--text-color);
		}
	}
}
