@import './_debug';

// Variaibl;ess
@import './variables/responsive';
@import './variables/theme-vars';
@import './variables/colors';
@import './variables/typography';
// // Abstracts
@import './abstracts/mixins';
@import './abstracts/reset';

// Core
@import './core/checkbox';
@import './core/buttons';
@import './core/base';
@import './core/theme';
@import './core/alert';
@import './core/error';
// @import './core/dots';
@import './core/body';
@import './core/animations';

// // Layout

// // Components
@import './layout/header';
@import './layout/homepage';
@import './layout/intro';
@import './layout/chat';

// components
@import './components/search';
@import './components/loader';
@import './components/friends';
@import './components/messenger';

.selected {
    width: 100px;
    height: 100px;
    background-color: red;
    color: blue;
    padding: 10px;
}